<div class="submitted" style="max-width: 800px; margin: auto;">
  <div style="padding: 0px 30px;">
    <h1>We're so excited you want to join The Teen Magazine editor team!</h1>
    <img style="display: block; width: 600px; max-width: 100%; margin: 0 auto;" src="https://media.giphy.com/media/cqw80XStn460U/giphy.gif" />
    <br>
    <p>One of our admins will read your application and get back to you. Please note that our editor application is competative and we can only take a small number of writers.
      We will notify you as soon as possible if your application is accepted.</p>
    <p>Go back to <%= link_to "your profile", current_user, class: "link_grn" %>.</p>
    <br>
  </div>
</div>
