<div class="submitted" style="max-width: 800px; margin: auto;">
  <div style="padding: 30px;">
    <h1>Your application was successfully submitted!</h1>
    <img style="display: block; width: 600px; max-width: 100%; margin: 0 auto;" src="https://media1.tenor.com/images/1f84b096cbe1cc9f3763c803bb17e10e/tenor.gif?itemid=5878976" />
    <p>We're so excited you want to join The Teen Magazine writer team!</p>
    <p>One of our editors will read your cover letter and get back to you. You will be notified within three business days if your application is accepted.</p>
    <p>Go back to <a class="link_grn" href="/">The Teen Magazine</a></p>
    <br>
  </div>
</div>
