<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>
      Your editor application impressed our admin team, and after careful review, we have decided that you would make a great addition to The Teen Magazine's Editor Team. Only around 5% of our writers will ever become an editor for The Teen Magazine, and we want to congratulate you on this huge accomplishment.
    </p>
    <p>
      To view the changes made to your account, <a href="https://www.theteenmagazine.com/login">sign into your account</a>. You will be prompted to complete an onboarding process before accessing your new editor dashboard. The onboarding docs will explain the monthly assignments required to remain on the editor team.
    </p>
    <p>Best Regards,<br>Mia Johansson</p><p>The Teen Magazine</p>
  </body>
</html>
