<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Your article <%= link_to(@post.title, @post) %> has been moved to <b>in review</b> by <%= link_to(@editor.full_name, @editor) %>.</p>
    <p>Log into your account <a href="https://www.theteenmagazine.com/login" style="color: #4ABEB6;">here</a>.</p>
  </body>
</html>
