<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Great job! Your article <%= link_to @post.title, @post, style: "color: #65B19D;" %> has been successfully submitted for review. An editor will review your article as soon as possible.</p>
    <img style="display: block; max-width: 100%; width: 400px; margin: 0 auto;" src="https://theteenmagazine.s3.amazonaws.com/giphy-2.gif">
    <p>Log into your account <a href="https://www.theteenmagazine.com/login" style= "color: #65B19D;">here</a>.</p>
  </body>
</html>
