<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <p>
      <%= @user.first_name %>, there is a new comment on one of your recent articles! 
      To see the comment, click <%= link_to "here", @post, :style => "color: #4ABEB6;"%>. 
      If it was another writer who commented, please consider commenting on one of their articles to keep the conversation going!
    </p>
  </body>
</html>
