<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h3>Your article was featured in The Teen Magazine's top trending articles newsletter!</h3>
    <p>
      <%= @user.first_name %>, we wanted to let you know that your article, <%= link_to @post.title, @post %>,
      was included in The Teen Magazine's top trending articles newsletter! This means that your article is receiving a lot of views
      and we wanted to promote it to our 3000 email subscribers! Make sure to check your inbox so that you see it! 
    <p>
      If you didn't get the newsletter, check your Email Preferences on your dashboard and make sure you have "Reader Newsletter" checked.
    </p>
    <p>
      Amazing job!
    </p>
    <p>Best Regards,<br/>Editor Team</p>
  </body>
</html>