<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Your article was chosen in the editor picks newsletter!</h1>
    <p>
      <%= @user.first_name %>, we wanted to let you know that your article, <%= link_to @post.title, @post %>,
      was chosen to be featured in The Teen Magazine's newsletter! This means that our editors were especially impressed by your 
      article and wanted to send it to our 3000 email subscribers! Make sure to check your inbox so that you see it! 
    <p>
      If you didn't get the newsletter, check your Email Preferences on your dashboard and make sure you have "Reader Newsletter" checked.
    </p>
    <p>
      Amazing job!
    </p>
    <p>Best Regards,<br/>Editor Team</p>
  </body>
</html>
