<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>You're featured!</h1>
    <p><%= @user.first_name %>, we loved your article, <%= link_to @post.title, @post %>, so much we wanted to promote it more! It is now pinned at the top of The Teen Magazine's home page. Congratulations!</p>
    <p>Best Regards,<br/>Editor Team</p>
  </body>
</html>
