<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>This is Sewon from The Teen Magazine. I wanted to let you know that your profile was just approved by one of our editors,
       and you are now eligible to submit articles for publication! Log into your account here: <bold style="color: blue;"><a href="https://www.theteenmagazine.com/login"<%= @user.slug%>>theteenmagazine.com/login</a></bold> to see the changes.</p>
    <p>Best Regards,<br/>Sewon Park</p>
    <p>Editor in Chief</p>
  </body>
</html>
