<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>
      Thank you for applying to the editor position at The Teen Magazine! Unfortunately, we are unable to add you to our team at this time. We value you as a part of our writer team a lot and want to see you grow more as a writer first.
      Please reach out to any writers on the editor team to ask if they can give feedback on your articles. We encourage you to apply again once you've published more articles and/or have improved your existing articles.
    </p>
    <p>Best Regards,<br>Editor Team</p><p>The Teen Magazine</p>
  </body>
</html>
