<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>
      Thank you for applying to The Teen Magazine's writer team. We reviewed your application and regret to inform you that we will not be accepting your application at this time.
      We recieve many applications every month and are unable to accept them all. We wish you the best in your writing journey and encourage you to apply again in the future.
    </p>
    <p>
      To stay updated on everything going on at The Teen Magazine, subscribe to our newsletter <a href="https://www.theteenmagazine.com/subscribe">here</a>.
    </p>
    <p>Best Regards,<br>Editor Team</p><p>The Teen Magazine</p>
  </body>
</html>
