<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>This is Mia from The Teen Magazine! Our writers have been claiming lots of pitches this week,
      so if you have some free time, it would be amazing if you could add a few pitches! The goal is to always
      have at least 50 pitches for writers to choose from.
    </p>
    <p><a href="https://www.theteenmagazine.com/pitches/new">https://www.theteenmagazine.com/pitches/new</a></p>
    <p>Thank you!</p>
    <p>Best,<br>
       Mia</p>
  </body>
</html>
