<div id="apply_image">
</div>
<div class="apply_wrapper">
  <h2 style="text-align: center;">Apply to The Teen Magazine Editor Team</h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelLjDEk0OLaoDqsifns73d33gmX4baW9O78MSVV_gnbnqGjg/viewform?embedded=true"
  width="100%" height="2272" frameborder="0" marginheight="0" marginwidth="0">
  Loading…
  </iframe>
  <br>
  <p style="text-align: center;">View application in separate tab <a target="_blank" class="link_nrml" href="https://forms.gle/czCwRZnczyBZzBZY9">here</a>.</p>
</div>
