<!-- shows all accepted applications -->

<div class="skinny_wrapper">
    <h1 id="page_title">Accepted Writer Applications</h1>
    <% @applies.each do | application | %>
      <% @user = User.where(email: application.email).first %>
        <% if @user != nil %>
          <div class="flex--profile">
            <% if @user.profile.exists? %>
              <%= image_tag(@user.profile.url(:square), :class => "profile_img") %>
            <% else %>
              <%= image_tag("https://isw.fbk.eu/sites/isw2015.fbk.eu/files/Profilo_2.jpg", :class => "profile_img") %>
            <% end %>
            <div class="info">
            <h2 style="margin-bottom: 5px;">
              <% @name =
                if (@user.first_name != "" && @user.first_name !=nil)
                  @user.first_name
                end
                if (@user.last_name != "" && @user.last_name!= nil)
                  @name = @name + " " + @user.last_name
                end %>
              <%= link_to(@name, @user) %>
            </h2>
            <% if @user.editor? %>
              <span class="editor_status">
                Editor
              </span>
            <% end %>
              <p class="description_user" style="margin-top: 5px;"><%= application.description %></p>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
