<% @posts.each do |post| %>
  <%= link_to post_path(:id => post.id), method: :patch, remote: true, class: "card", style: "width: 32%;", id: "post-#{post.id}" do %>
    <svg style="color: #F0255E;" width="22px" height="22px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="abs-right-corner hide mb-1 svg-inline--fa fa-check-circle fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
    <div class="p-0">
      <%=image_tag(post.thumbnail.url(:large2), alt: post.title, :class => "card-img-top")%>
      <div class="card-body">
        <h4 style="color: black;" class="pitch_ttl mt-0"><%= post.title %></h4>
        <p class="card-text">
          <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg> <%= post.post_impressions %> views
        </p>
      </div>
    </div>
  <% end %>
<% end %>
