<div class="comments">
  <%= render :partial => 'comments/comment_form', locals: {post: post, comment: comment, user: user } %>
  <ul class="list-group list-group-flush" id="list-group-comments">
    <% comments.each do |comment| %>
      <% if current_user.editor? || !comment.is_review || (post.user_id.eql? current_user.id) %>
        <%= render :partial => 'comments/comment', locals: {comment: comment, post: post} %>
      <% end %>
    <% end %>
  </ul>
</div>
