<h3>Comments</h3>
<div class="comments">
  <div class="comments-published pl-0">
    <%= render :partial => 'comments/comment_form', locals: {post: post, comment: comment, user: user } %>
    <ul class="list-group list-group-flush" id="list-group-comments">
      <% if (comments.count.eql? 0) && (post.reviews.last.try(:status).eql? "In Progress") %>
        <i class="mt-2">Social sharing is turned on! Your article is now viewable in the <%= link_to("writer community", "/community", class: "link_grn") %>.</i>
      <% else %>
        <% comments.each do |comment| %>
          <%= render :partial => 'comments/comment', locals: {comment: comment, post: post} %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
