<% @recent.each do |post| %>
  <div class="ctgry_article position-relative" style="margin-bottom: 18px;">
    <%=link_to(post) do %>
      <%= render 'posts/partials/header_image', post: post, img_class: "" %>
    <% end %>
    <div class="paragraph" style="margin-top: -3px">
      <p><%= link_to(post.title.truncate_words(12), post) %></p>
    </div>
  </div>
<% end %>
