<% @trending.each do |post| %>
  <div class="ctgry_article" style="margin-bottom: 15px;">
    <%= link_to(image_tag(post.thumbnail.url(:medium)), post) %>
    <div class="paragraph">
      <p><%= link_to(post.title.truncate_words(12), post) %></p>
    </div>
  </div>
<% end %>
