/* line 2, app/assets/stylesheets/_category.css.scss */
.category .category_image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 11, app/assets/stylesheets/_category.css.scss */
.category .category_image h1 {
  background-color: white;
  text-shadow: 1px 1px #191919;
  padding: 20px;
  margin: 0;
  color: #4ABEB6;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
}

/* line 22, app/assets/stylesheets/_category.css.scss */
.category #main_navigation {
  background-image: none;
}

/* line 25, app/assets/stylesheets/_category.css.scss */
.category #main_navigation #main_title {
  display: none;
}

/* line 29, app/assets/stylesheets/_category.css.scss */
.category #main_navigation .fa-bars {
  padding: 20px;
  padding-left: 0px;
}

/* line 35, app/assets/stylesheets/_category.css.scss */
.category .category--show {
  margin: 25px;
  margin-bottom: 0;
}

/* line 38, app/assets/stylesheets/_category.css.scss */
.category .category--show .thumbnail {
  margin-bottom: 25px;
}

@media (max-width: 640px) {
  /* line 46, app/assets/stylesheets/_category.css.scss */
  .category .category--show {
    margin-left: 0;
    margin-right: 0;
  }
}
