@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(/assets/RobotoCondensedBoldItalic-92b0de2ee685cdf4761e5c71d3658fdff922fcbe776e4e9313d64b004931243a.ttf);
}

@font-face {
  font-family: "Roboto Condensed Light";
  src: url(/assets/RobotoCondensedLightItalic-3bd1f7890aa5e766378640f999f550ac20f3a4fdffc49cd0528e765be596fee2.ttf);
}

@font-face {
  font-family: "justwaitandsee";
  src: url(/assets/MORVA-40b0f8db1aead48803e3669a22dfe7bf6ad39feb905b849747df5a576a990a7e.otf);
}

@font-face {
  font-family: "Kristi";
  src: url(/assets/HiddenMeanings-57e9f3eeb16859f788a2ed606796cdc4f4698a767f755d188ca1ffc596f1e98e.ttf);
}

/* line 21, app/assets/stylesheets/_common.css.scss */
* {
  box-sizing: border-box;
}

/* line 26, app/assets/stylesheets/_common.css.scss */
#mce-responses-container * {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 32, app/assets/stylesheets/_common.css.scss */
.highlight {
  background-color: #FCD04D;
}

/* line 36, app/assets/stylesheets/_common.css.scss */
.small-text-wrapper * {
  font-size: 14px;
}

/* line 40, app/assets/stylesheets/_common.css.scss */
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
/* line 48, app/assets/stylesheets/_common.css.scss */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 58, app/assets/stylesheets/_common.css.scss */
br {
  height: 10px !important;
}

/* line 62, app/assets/stylesheets/_common.css.scss */
.strikethrough, .strikethrough a {
  text-decoration: line-through;
  color: black !important;
}

/* line 67, app/assets/stylesheets/_common.css.scss */
.disabled {
  opacity: 0.2;
}

/* line 69, app/assets/stylesheets/_common.css.scss */
.disabled:hover {
  cursor: none;
}

/* line 74, app/assets/stylesheets/_common.css.scss */
.unread {
  background-color: #E6F6FF !important;
}

/* line 78, app/assets/stylesheets/_common.css.scss */
#btn_dark {
  color: white;
  bottom: 0px;
  right: 0px;
  background-color: #085F63 !important;
  border-color: #F0255E;
  font-weight: 800;
  float: right;
  font-family: verdana;
  font-size: 0.8em;
  border-radius: 8px;
  padding: 10px 20px;
  text-transform: capitalize;
  margin: 10px 0 0 0;
}

/* line 94, app/assets/stylesheets/_common.css.scss */
iframe {
  min-width: 300px !important;
}

/* line 98, app/assets/stylesheets/_common.css.scss */
.submit_btn:hover {
  cursor: pointer;
}

/* line 102, app/assets/stylesheets/_common.css.scss */
.image_70_prcnt {
  width: 70% !important;
  margin: 0 auto;
  display: block;
}

/* line 108, app/assets/stylesheets/_common.css.scss */
.image_fit_scrn {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* line 114, app/assets/stylesheets/_common.css.scss */
.image_max_400 {
  display: block;
  max-width: 400px;
  width: 100%;
}

/* line 120, app/assets/stylesheets/_common.css.scss */
.margin_top_20 {
  margin-top: 20px !important;
}

/* line 124, app/assets/stylesheets/_common.css.scss */
.ads_wrapper {
  background-color: #F3F3F3;
  z-index: 600000;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 130, app/assets/stylesheets/_common.css.scss */
.ads_wrapper ins, .ads_wrapper iframe {
  margin: 0 auto !important;
  display: block !important;
}

/* line 136, app/assets/stylesheets/_common.css.scss */
.underline {
  text-decoration: underline;
}

/* line 140, app/assets/stylesheets/_common.css.scss */
.theme_color {
  color: #4ABEB6 !important;
}

/* line 144, app/assets/stylesheets/_common.css.scss */
.btn_no_style {
  padding: 0;
  background: transparent;
  margin: 0;
  border: none;
}

/* line 151, app/assets/stylesheets/_common.css.scss */
body {
  font-family: 'Charter',Georgia,Times,Serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
  word-break: break-word;
}

/* line 158, app/assets/stylesheets/_common.css.scss */
.border {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  margin-top: 0 !important;
}

/* line 165, app/assets/stylesheets/_common.css.scss */
.progress_editor_profile {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  border-radius: 50%;
  text-align: center;
}

/* line 176, app/assets/stylesheets/_common.css.scss */
.editor {
  height: 200px;
  width: 100%;
  background-color: #085F63;
}

/* line 182, app/assets/stylesheets/_common.css.scss */
#banner_writing {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 193, app/assets/stylesheets/_common.css.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 198, app/assets/stylesheets/_common.css.scss */
.showContent {
  visibility: visible;
}

/* line 202, app/assets/stylesheets/_common.css.scss */
.logo {
  width: 700px;
}

/* line 206, app/assets/stylesheets/_common.css.scss */
.icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
}

/* line 215, app/assets/stylesheets/_common.css.scss */
.skinny_wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 221, app/assets/stylesheets/_common.css.scss */
.index_users #post_title {
  margin: 0px;
}

/* line 225, app/assets/stylesheets/_common.css.scss */
#apply_image {
  background-image: url(/assets/writer-8d5287c5806437b58f2fa614343d203bb3e900d30eb1a8c00574950c105d9e82.jpg);
  background-size: cover;
  background-position: center center;
  height: 0;
  padding-top: 20%;
}

/* line 233, app/assets/stylesheets/_common.css.scss */
.date_post_preview {
  font-size: 20px !important;
  font-style: italic;
  color: #C0C0C0 !important;
}

/* line 239, app/assets/stylesheets/_common.css.scss */
.spinner-button {
  position: absolute;
  margin-left: 55px;
  margin-top: 7px;
}

/* line 245, app/assets/stylesheets/_common.css.scss */
.hide {
  display: none;
}

/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
/* line 253, app/assets/stylesheets/_common.css.scss */
#site-wrapper {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

/* line 261, app/assets/stylesheets/_common.css.scss */
#site-canvas, #site-menu {
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: .2s ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 277, app/assets/stylesheets/_common.css.scss */
.show-nav {
  overflow: hidden;
}

/* line 279, app/assets/stylesheets/_common.css.scss */
.show-nav #site-canvas, .show-nav #site-menu {
  transform: translateX(320px);
  transform: translate3d(320px, 0, 0);
  height: 100%;
}

/* line 289, app/assets/stylesheets/_common.css.scss */
.show-nav #navigation_overlay {
  visibility: visible;
  opacity: 0.75;
  height: 100%;
}

/* line 295, app/assets/stylesheets/_common.css.scss */
#navigation_overlay {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  height: 0;
  z-index: 5002;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

/* line 308, app/assets/stylesheets/_common.css.scss */
#site-menu {
  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  background: white;
  padding: 25px;
  z-index: 5003;
}

/* line 316, app/assets/stylesheets/_common.css.scss */
#site-menu a, #site-menu h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 319, app/assets/stylesheets/_common.css.scss */
#site-menu a {
  text-decoration: none;
  display: block;
  line-height: 38px;
  font-size: 18px;
  font-family: 'Playfair Display';
  color: black;
}

/* line 327, app/assets/stylesheets/_common.css.scss */
#site-menu h2 {
  margin: 0;
}

/* line 329, app/assets/stylesheets/_common.css.scss */
#site-menu h2 a {
  font-family: "justwaitandsee";
  font-size: 50px;
  padding: 0;
  line-height: 1;
}

/* line 336, app/assets/stylesheets/_common.css.scss */
#site-menu .toggle-nav-x {
  color: black;
  font-size: 20px;
  float: right;
  line-height: 33px;
}

/* line 341, app/assets/stylesheets/_common.css.scss */
#site-menu .toggle-nav-x:hover {
  cursor: pointer;
}

/* line 347, app/assets/stylesheets/_common.css.scss */
.profile_img_small {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

/* line 358, app/assets/stylesheets/_common.css.scss */
.whats-new a, .comments a {
  display: inline !important;
}

/* line 361, app/assets/stylesheets/_common.css.scss */
.whats-new .list-group-item, .comments .list-group-item {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  border: none;
}

/* line 367, app/assets/stylesheets/_common.css.scss */
.whats-new div, .comments div {
  padding-left: 10px;
}

/* line 369, app/assets/stylesheets/_common.css.scss */
.whats-new div a:hover, .comments div a:hover {
  color: black;
  text-decoration: none;
}

/* line 376, app/assets/stylesheets/_common.css.scss */
.pagination {
  justify-content: center;
}

/* line 378, app/assets/stylesheets/_common.css.scss */
.pagination em, .pagination a, .pagination span {
  padding: 0 10px 20px 0;
  text-decoration: none;
}

/* line 382, app/assets/stylesheets/_common.css.scss */
.pagination a {
  color: #4ABEB6 !important;
}

/* line 387, app/assets/stylesheets/_common.css.scss */
hr {
  margin: 0.3em auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 393, app/assets/stylesheets/_common.css.scss */
.float_right {
  float: right;
}

/* line 398, app/assets/stylesheets/_common.css.scss */
.link_white {
  color: white;
  font-weight: bold;
  font-family: "Playfair Display";
}

/* line 402, app/assets/stylesheets/_common.css.scss */
.link_white:hover {
  color: white;
  text-decoration: none;
}

/* line 408, app/assets/stylesheets/_common.css.scss */
.link_theme, .link_theme input {
  color: black !important;
  font-weight: bold;
  font-size: 0.9em;
  font-family: "Playfair Display";
  padding: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
}

/* line 416, app/assets/stylesheets/_common.css.scss */
.link_theme:hover, .link_theme input:hover {
  color: black !important;
  text-decoration: none;
  border: none !important;
}

/* line 424, app/assets/stylesheets/_common.css.scss */
.link_pink {
  color: #F0255E !important;
  font-weight: bold;
  font-family: "Playfair Display";
}

/* line 428, app/assets/stylesheets/_common.css.scss */
.link_pink:hover {
  color: #F0255E !important;
  text-decoration: none;
}

/* line 434, app/assets/stylesheets/_common.css.scss */
.link_nrml {
  color: black;
  font-weight: 400;
}

/* line 437, app/assets/stylesheets/_common.css.scss */
.link_nrml:hover {
  color: #545454 !important;
}

/* line 442, app/assets/stylesheets/_common.css.scss */
.divfeatured {
  width: 70%;
}

/* line 446, app/assets/stylesheets/_common.css.scss */
.visible {
  visibility: visible !important;
}

/* line 451, app/assets/stylesheets/_common.css.scss */
.parentflex .featured_img {
  margin-bottom: 10px;
  position: relative;
  max-height: 600px;
  width: 100%;
  overflow: hidden;
}

/* line 459, app/assets/stylesheets/_common.css.scss */
.parentflex .article_title {
  margin: 0;
  width: 100%;
  word-wrap: break-word;
  font-family: "Playfair Display";
}

/* line 464, app/assets/stylesheets/_common.css.scss */
.parentflex .article_title a {
  text-decoration: none;
  color: #191919;
  font-size: 34px;
  font-weight: 400;
}

/* line 471, app/assets/stylesheets/_common.css.scss */
.parentflex .date {
  color: #545454;
  font-size: 12px;
  margin-top: 3px;
}

/* line 478, app/assets/stylesheets/_common.css.scss */
.individual {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

/* line 484, app/assets/stylesheets/_common.css.scss */
.individual img {
  width: 100%;
}

/* line 488, app/assets/stylesheets/_common.css.scss */
.individual .article_title {
  width: 100%;
}

/* line 493, app/assets/stylesheets/_common.css.scss */
.wrapper_home {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

/* line 499, app/assets/stylesheets/_common.css.scss */
.articles2-6 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

/* line 504, app/assets/stylesheets/_common.css.scss */
.articles2-6 .thumbnail {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

/* line 510, app/assets/stylesheets/_common.css.scss */
.articles2-6 .thumbnail .thumbnail--container {
  margin-left: 10px;
}

/* line 512, app/assets/stylesheets/_common.css.scss */
.articles2-6 .thumbnail .thumbnail--container .article_title {
  font-family: "Playfair Display";
  margin: 0;
  font-weight: 400;
  line-height: 70%;
}

/* line 517, app/assets/stylesheets/_common.css.scss */
.articles2-6 .thumbnail .thumbnail--container .article_title a {
  text-decoration: none;
  color: #191919;
  font-size: 20px;
}

/* line 523, app/assets/stylesheets/_common.css.scss */
.articles2-6 .thumbnail .thumbnail--container .date {
  font-size: 12px;
  margin: 4px 0 0 0;
  color: #545454;
}

/* line 531, app/assets/stylesheets/_common.css.scss */
.articles2-6 .image_thumbnail {
  width: 150px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* line 538, app/assets/stylesheets/_common.css.scss */
.notice {
  text-align: center;
  padding: 0.9em 0;
  border-bottom: 1px solid #E9E9E9;
  color: #212529;
  background-color: #C5B7B820;
  margin: 0;
}

/* line 547, app/assets/stylesheets/_common.css.scss */
#main_title {
  font-family: "justwaitandsee";
  font-size: 80px;
  text-align: left;
  margin-bottom: -2px;
  margin-left: 80px;
  max-height: 120px;
}

/* line 554, app/assets/stylesheets/_common.css.scss */
#main_title a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
}

/* line 561, app/assets/stylesheets/_common.css.scss */
.section--title {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-family: 'Vollkorn', serif;
}

/* line 568, app/assets/stylesheets/_common.css.scss */
.section--title a {
  color: black;
  text-decoration: none;
}

/* line 574, app/assets/stylesheets/_common.css.scss */
.form_wrapper {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

/* line 580, app/assets/stylesheets/_common.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 586, app/assets/stylesheets/_common.css.scss */
.clearfix:after {
  clear: both;
}

/* line 590, app/assets/stylesheets/_common.css.scss */
.signupdiv {
  width: 300px;
  margin-left: 30px;
  float: right;
}

/* line 594, app/assets/stylesheets/_common.css.scss */
.signupdiv .container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* line 598, app/assets/stylesheets/_common.css.scss */
.signupdiv .container .exclusive-offer {
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/JsS5zrC/subscribe.png");
  background-position: center;
  margin-bottom: -10px;
}

/* line 606, app/assets/stylesheets/_common.css.scss */
.signupdiv .container .exclusive-offer #exclusive-title--id {
  margin-top: 45px;
  padding: 10px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 20px;
}

/* line 613, app/assets/stylesheets/_common.css.scss */
.signupdiv .container .exclusive-offer .exclusive-title {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 623, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup {
  margin-top: 0 !important;
}

/* line 625, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup .flex--email {
  margin: 10px 0;
}

/* line 628, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup .mce_inline_error {
  padding-left: 0 !important;
  margin: 0 !important;
}

/* line 632, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup .mccontainer div {
  color: white !important;
  background-color: transparent !important;
}

/* line 638, app/assets/stylesheets/_common.css.scss */
#mce-EMAIL {
  margin: 0;
  height: 35px;
  font-size: 15px !important;
}

/* line 644, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup_scroll {
  font-size: 15px;
}

/* line 646, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup_scroll .mc-field-group {
  width: 100% !important;
  padding: 0 !important;
  min-height: 35px !important;
}

/* line 651, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup_scroll .mc-field-group .clear input {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 0 22px !important;
}

/* line 657, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup_scroll #mce-error-response, #mc_embed_signup_scroll #mce-success-response {
  margin-top: 10px;
}

/* line 660, app/assets/stylesheets/_common.css.scss */
#mc_embed_signup_scroll #mc-embedded-subscribe {
  line-height: normal !important;
  background-color: #191919 !important;
  height: 35px;
  margin: 15px 0;
}

/* line 668, app/assets/stylesheets/_common.css.scss */
.flex_horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* line 674, app/assets/stylesheets/_common.css.scss */
.center {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 3em 0;
}

/* line 678, app/assets/stylesheets/_common.css.scss */
.center h1 {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 682, app/assets/stylesheets/_common.css.scss */
.center .fa-search {
  margin-left: 8px;
  color: #212529;
}

/* line 686, app/assets/stylesheets/_common.css.scss */
.center a {
  margin-top: -3px;
}

/* line 691, app/assets/stylesheets/_common.css.scss */
.flex_horizontal_justify_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

/* line 698, app/assets/stylesheets/_common.css.scss */
.flex_horizontal_justify_between * {
  margin: 0 !important;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

/* line 704, app/assets/stylesheets/_common.css.scss */
.no_style {
  border: none !important;
  padding: 0px !important;
  background: transparent !important;
}

/* line 710, app/assets/stylesheets/_common.css.scss */
.parentflex {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
}

/* line 716, app/assets/stylesheets/_common.css.scss */
.parentflex .flexbox {
  display: inline-flex;
  max-width: 900px;
  flex-shrink: 2;
  flex-grow: 2;
  justify-content: center;
}

/* line 726, app/assets/stylesheets/_common.css.scss */
body form {
  padding: 0;
  width: 100%;
}

/* line 732, app/assets/stylesheets/_common.css.scss */
.banner_stts_relative .banner_stts {
  position: relative !important;
}

/* line 736, app/assets/stylesheets/_common.css.scss */
.banner_stts {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #F0255E;
  font-size: 17px;
  padding: 2px;
  margin: 0;
}

/* line 748, app/assets/stylesheets/_common.css.scss */
.fb-comments, .fb-comments iframe[style], .fb-comments span {
  width: 100% !important;
}

/* line 752, app/assets/stylesheets/_common.css.scss */
.flex_column {
  flex-direction: column !important;
}

/* line 756, app/assets/stylesheets/_common.css.scss */
.social_icons_full {
  padding: 0 0 30px 0;
}

/* line 758, app/assets/stylesheets/_common.css.scss */
.social_icons_full a {
  flex: 1;
}

/* line 763, app/assets/stylesheets/_common.css.scss */
.social_icons {
  display: flex;
  flex-direction: row;
  min-width: 175px;
  justify-content: space-between;
}

/* line 768, app/assets/stylesheets/_common.css.scss */
.social_icons a {
  color: #333;
  text-align: center;
  text-decoration: none;
}

/* line 772, app/assets/stylesheets/_common.css.scss */
.social_icons a:hover {
  color: #333;
}

/* line 776, app/assets/stylesheets/_common.css.scss */
.social_icons a div {
  height: 40px;
  background-color: #3b5998;
}

/* line 782, app/assets/stylesheets/_common.css.scss */
.social_icons i {
  color: white;
  margin-top: 12px;
}

/* line 788, app/assets/stylesheets/_common.css.scss */
.post_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
}

/* line 795, app/assets/stylesheets/_common.css.scss */
.post_info .left_side_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .4em 0 .4em 0;
}

/* line 800, app/assets/stylesheets/_common.css.scss */
.post_info .left_side_flex p {
  margin: 0;
  margin-top: 8px;
  color: #333;
}

/* line 807, app/assets/stylesheets/_common.css.scss */
.post_info .right_side_wrapper {
  text-align: right;
}

/* line 809, app/assets/stylesheets/_common.css.scss */
.post_info .right_side_wrapper .draft {
  height: 100%;
}

/* line 812, app/assets/stylesheets/_common.css.scss */
.post_info .right_side_wrapper .date_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* line 816, app/assets/stylesheets/_common.css.scss */
.post_info .right_side_wrapper .date_wrapper p {
  margin: 0.6em 0;
}

/* line 822, app/assets/stylesheets/_common.css.scss */
.post_info a {
  color: #333;
  text-align: center;
  text-decoration: none;
}

/* line 826, app/assets/stylesheets/_common.css.scss */
.post_info a:hover {
  color: #333;
}

/* line 830, app/assets/stylesheets/_common.css.scss */
.post_info a div {
  width: 40px;
}

/* line 835, app/assets/stylesheets/_common.css.scss */
.post_info img {
  margin-right: 5px;
  min-width: 40px !important;
  max-width: 40px !important;
  max-height: 40px !important;
}

/* line 842, app/assets/stylesheets/_common.css.scss */
.post_info .fa-clock-o {
  margin-right: 3px;
  margin-top: 0px;
  color: #333 !important;
}

/* line 848, app/assets/stylesheets/_common.css.scss */
.post_info .date {
  font-size: 1rem;
  font-family: "Playfair Display";
  white-space: nowrap;
}

/* line 853, app/assets/stylesheets/_common.css.scss */
.post_info .author {
  margin: 3px 0;
}

/* line 856, app/assets/stylesheets/_common.css.scss */
.post_info .author_name {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  display: inline;
}

/* line 867, app/assets/stylesheets/_common.css.scss */
footer {
  background-color: #191919;
  color: white !important;
}

/* line 870, app/assets/stylesheets/_common.css.scss */
footer .title-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px -10px 20px 0;
}

/* line 875, app/assets/stylesheets/_common.css.scss */
footer .title-footer .social-media-footer, footer .title-footer h1 {
  display: inline;
  margin: 0;
}

/* line 878, app/assets/stylesheets/_common.css.scss */
footer .title-footer .social-media-footer .link, footer .title-footer h1 .link {
  display: inline !important;
  padding: 10px;
}

/* line 884, app/assets/stylesheets/_common.css.scss */
footer h1 a {
  font-family: "justwaitandsee", "serif";
  font-size: 1em;
  display: inline;
}

/* line 889, app/assets/stylesheets/_common.css.scss */
footer a, footer span {
  color: white !important;
  text-decoration: none !important;
  font-size: 12px;
}

/* line 895, app/assets/stylesheets/_common.css.scss */
footer .social-media-footer .fa {
  margin: 12px 0 0 0;
  font-size: 22px;
}

/* line 900, app/assets/stylesheets/_common.css.scss */
footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

/* line 905, app/assets/stylesheets/_common.css.scss */
footer .row div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
}

/* line 910, app/assets/stylesheets/_common.css.scss */
footer .footer-copyright {
  padding-left: 20px;
}

/* line 915, app/assets/stylesheets/_common.css.scss */
.social-media {
  display: flex;
  justify-content: flex-end;
  font-size: 22px !important;
  align-items: center;
  z-index: 100;
}

/* line 921, app/assets/stylesheets/_common.css.scss */
.social-media a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* line 923, app/assets/stylesheets/_common.css.scss */
.social-media a .fa {
  margin: 0 7px;
}

/* line 929, app/assets/stylesheets/_common.css.scss */
#main_navigation {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 935, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  align-items: center;
}

/* line 942, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner #name_wrapper {
  display: block;
}

/* line 944, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner #name_wrapper #name {
  max-height: 83px;
  margin: 0 auto;
  display: block;
}

/* line 950, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .social-media, #main_navigation #banner .fa-bars, #main_navigation #banner #name_wrapper {
  flex-grow: 1;
  flex-basis: 0;
}

/* line 954, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-bars:hover {
  cursor: pointer;
}

/* line 957, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa {
  font-size: 16px;
}

/* line 960, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-twitter {
  color: #00aced;
}

/* line 963, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-instagram {
  color: #3f729b;
}

/* line 966, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-pinterest {
  color: #cb2027;
}

/* line 969, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-facebook-official {
  color: #3b5998;
}

/* line 972, app/assets/stylesheets/_common.css.scss */
#main_navigation #banner .fa-search {
  color: #212529;
}

/* line 977, app/assets/stylesheets/_common.css.scss */
#main_navigation .nav-title-wrapper {
  display: block;
  position: relative;
}

/* line 980, app/assets/stylesheets/_common.css.scss */
#main_navigation .nav-title-wrapper a {
  position: absolute;
}

/* line 985, app/assets/stylesheets/_common.css.scss */
#main_navigation .nav-title-wrapper a, #main_navigation .nav-title {
  font-family: 'justwaitandsee';
  font-size: 1.4rem;
  font-style: italic;
  color: #4ABEB6;
}

/* line 992, app/assets/stylesheets/_common.css.scss */
#main_navigation nav {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1003, app/assets/stylesheets/_common.css.scss */
#main_navigation nav .link {
  margin: 2px 0 0 1.2rem;
}

/* line 1007, app/assets/stylesheets/_common.css.scss */
#main_navigation nav a {
  font-family: 'Univers-CnUlt', Arial, Sans-serif;
  letter-spacing: 0.01rem;
  line-height: 1;
  font-size: 0.8em;
  font-weight: 600;
  padding-top: 20px;
  color: black;
  text-decoration: none;
  color: 1;
  transition: color .4s ease-out;
}

/* line 1021, app/assets/stylesheets/_common.css.scss */
#main_navigation nav a:hover {
  color: #2B6860;
}

/* line 1028, app/assets/stylesheets/_common.css.scss */
#page_title {
  text-align: center;
  border-bottom: 1px solid #E9E9E9;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

/* line 1036, app/assets/stylesheets/_common.css.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid #E9E9E9;
  padding: 0.7em;
  outline: none;
  margin: .5em 0 2em 0;
}

/* line 1046, app/assets/stylesheets/_common.css.scss */
textarea {
  min-height: 20em;
}

/* line 1050, app/assets/stylesheets/_common.css.scss */
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 2px solid #E9E9E9;
  text-align: center;
  font-size: 1em;
  color: #424653;
  text-decoration: none;
  padding: 1em 2em;
  margin-bottom: 2em;
}

/* line 1060, app/assets/stylesheets/_common.css.scss */
input[type="submit"]:hover {
  border: 2px solid #4ABEB6;
  color: #4ABEB6;
  cursor: pointer;
}

/* line 1067, app/assets/stylesheets/_common.css.scss */
h1 {
  font-size: 2.5rem;
}

/* line 1071, app/assets/stylesheets/_common.css.scss */
h2 {
  font-size: 2rem;
}

/* line 1075, app/assets/stylesheets/_common.css.scss */
h3 {
  font-size: 1.75rem;
}

/* line 1079, app/assets/stylesheets/_common.css.scss */
h4 {
  font-size: 1.375rem;
}

/* line 1083, app/assets/stylesheets/_common.css.scss */
h5 {
  font-size: 1.25rem;
}

/* line 1087, app/assets/stylesheets/_common.css.scss */
h6 {
  font-size: 1rem;
}

/* line 1091, app/assets/stylesheets/_common.css.scss */
p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

/* line 1096, app/assets/stylesheets/_common.css.scss */
p, ul, ol {
  margin: 0.8em 0;
}

@media (max-width: 1030px) {
  /* line 1101, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns {
    flex-direction: column !important;
  }
  /* line 1103, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .share_article_feedback {
    margin-top: 30px !important;
  }
  /* line 1106, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .content_wrapper {
    max-width: inherit;
  }
  /* line 1108, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .content_wrapper .left_side_flex {
    max-width: 550px;
  }
  /* line 1112, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply {
    padding: 0px !important;
  }
  /* line 1114, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply .ads_wrapper {
    margin: 0 -10% !important;
    max-width: 120% !important;
    background-color: transparent;
  }
  /* line 1118, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply .ads_wrapper iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto !important;
  }
  /* line 1124, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply h3 {
    margin-top: 20px;
  }
  /* line 1127, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply h3, .flex_wrapper_columns .post_apply .contain_articles {
    padding: 0 20px !important;
  }
  /* line 1131, app/assets/stylesheets/_common.css.scss */
  .flex_wrapper_columns .post_apply, .flex_wrapper_columns .share_article_feedback {
    margin: 0;
    padding: 0 40px;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 1000px) {
  /* line 1141, app/assets/stylesheets/_common.css.scss */
  .parentflex {
    flex-direction: column;
  }
  /* line 1143, app/assets/stylesheets/_common.css.scss */
  .parentflex .flexbox {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  /* line 1151, app/assets/stylesheets/_common.css.scss */
  .parentflex {
    flex-direction: column;
  }
  /* line 1154, app/assets/stylesheets/_common.css.scss */
  .divfeatured {
    width: 50%;
  }
  /* line 1156, app/assets/stylesheets/_common.css.scss */
  .divfeatured .individual {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* line 1161, app/assets/stylesheets/_common.css.scss */
  .divfeatured .individual img {
    width: 100%;
  }
  /* line 1165, app/assets/stylesheets/_common.css.scss */
  .divfeatured .individual .article_title {
    margin: 0 auto;
  }
  /* line 1171, app/assets/stylesheets/_common.css.scss */
  .signupdiv {
    width: 100%;
    margin: 0;
  }
  /* line 1174, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container {
    background-color: #66B39F;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 1182, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .exclusive-offer {
    width: 50%;
    background-image: url();
    margin-right: 10px;
    height: auto;
  }
  /* line 1187, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .exclusive-offer .exclusive-title, .signupdiv .container .exclusive-offer #exclusive-title--id {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  /* line 1192, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .signup {
    width: 50%;
    color: white !important;
    max-width: 400px;
    margin: 0 auto;
  }
  /* line 1198, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .signup #mc_embed_signup_scroll h2 {
    display: none;
  }
  /* line 1201, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .signup #mc_embed_signup_scroll .flex--email {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 1205, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .signup #mc_embed_signup_scroll .flex--email #mc-embedded-subscribe {
    margin: 0 5px !important;
    height: 35px !important;
    font-size: 15px !important;
  }
  /* line 1212, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .signup #mc_embed_signup_scroll #mce-responses-container * {
    color: white !important;
  }
}

@media (max-width: 954px) {
  /* line 1223, app/assets/stylesheets/_common.css.scss */
  .social {
    display: none;
  }
}

@media (max-width: 700px) {
  /* line 1230, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container {
    flex-direction: column;
  }
  /* line 1232, app/assets/stylesheets/_common.css.scss */
  .signupdiv .container .exclusive-offer, .signupdiv .container .signup {
    width: 100%;
  }
}

@media (max-width: 800px) {
  /* line 1241, app/assets/stylesheets/_common.css.scss */
  body .parentflex {
    width: 100%;
    margin: 0;
  }
  /* line 1244, app/assets/stylesheets/_common.css.scss */
  body .parentflex .divfeatured {
    margin-bottom: 15px;
  }
  /* line 1246, app/assets/stylesheets/_common.css.scss */
  body .parentflex .divfeatured .article_title, body .parentflex .divfeatured .date {
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;
  }
  /* line 1252, app/assets/stylesheets/_common.css.scss */
  body .parentflex .flexbox {
    flex-direction: column;
  }
  /* line 1259, app/assets/stylesheets/_common.css.scss */
  #site-menu .toggle-nav-x {
    line-height: normal;
    margin-top: -5px;
  }
  /* line 1265, app/assets/stylesheets/_common.css.scss */
  .articles2-6, .wrapper_home, #banner {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  /* line 1269, app/assets/stylesheets/_common.css.scss */
  .articles2-6 .thumbnail, .wrapper_home .thumbnail, #banner .thumbnail {
    margin-bottom: 15px;
  }
  /* line 1274, app/assets/stylesheets/_common.css.scss */
  #main_navigation {
    background-image: none;
    margin: 0;
  }
  /* line 1277, app/assets/stylesheets/_common.css.scss */
  #main_navigation nav {
    display: none;
  }
  /* line 1280, app/assets/stylesheets/_common.css.scss */
  #main_navigation .nav_article {
    display: flex;
  }
  /* line 1286, app/assets/stylesheets/_common.css.scss */
  footer .title-footer {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }
  /* line 1290, app/assets/stylesheets/_common.css.scss */
  footer .title-footer .social-media-footer {
    margin-top: 20px;
  }
  /* line 1294, app/assets/stylesheets/_common.css.scss */
  footer .row {
    flex-direction: column;
  }
  /* line 1296, app/assets/stylesheets/_common.css.scss */
  footer .row div {
    margin: 20px auto;
    text-align: center;
  }
  /* line 1301, app/assets/stylesheets/_common.css.scss */
  footer .footer-copyright {
    text-align: center;
    padding: 0;
  }
  /* line 1307, app/assets/stylesheets/_common.css.scss */
  .featured {
    display: block;
    width: 100%;
  }
  /* line 1310, app/assets/stylesheets/_common.css.scss */
  .featured .featured_img {
    max-height: 100%;
  }
  /* line 1312, app/assets/stylesheets/_common.css.scss */
  .featured .featured_img .image_thumbnail {
    width: 100%;
  }
  /* line 1318, app/assets/stylesheets/_common.css.scss */
  #main_title {
    font-size: 35px;
    min-height: 50px;
  }
}

@media (max-width: 990px) {
  /* line 1326, app/assets/stylesheets/_common.css.scss */
  #main_navigation .social {
    display: none;
  }
}

/* line 1332, app/assets/stylesheets/_common.css.scss */
.date_ago {
  color: #A6A09E;
}
