/* line 1, app/assets/stylesheets/_posts_projects.css.scss */
.div {
  height: 200px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
}

/* line 9, app/assets/stylesheets/_posts_projects.css.scss */
.post_image {
  height: 220px;
  position: absolute;
  background-position: center;
  width: 105%;
  margin-left: -10px;
  margin-top: -10px;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(2px);
  z-index: 0;
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/* line 26, app/assets/stylesheets/_posts_projects.css.scss */
.flex_wrapper_content {
  display: flex;
  flex-direction: row;
}

/* line 29, app/assets/stylesheets/_posts_projects.css.scss */
.flex_wrapper_content .post_wrapper {
  flex-grow: 5;
  max-width: 100%;
}

/* line 36, app/assets/stylesheets/_posts_projects.css.scss */
.articles .title {
  border-bottom: 1px dotted #9a9da4;
}

/* line 39, app/assets/stylesheets/_posts_projects.css.scss */
.articles .title, .articles .title a {
  color: #4ABEB6;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-shadow: 0.5px 0.5px #191919;
  font-family: 'Roboto Condensed Bold', sans-serif;
  text-decoration: none;
}

/* line 47, app/assets/stylesheets/_posts_projects.css.scss */
.articles figure {
  margin: 0 !important;
}

/* line 50, app/assets/stylesheets/_posts_projects.css.scss */
.articles .flex_other_articles {
  display: flex;
  flex-direction: column;
}

/* line 53, app/assets/stylesheets/_posts_projects.css.scss */
.articles .flex_other_articles .ctgry_article {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

/* line 57, app/assets/stylesheets/_posts_projects.css.scss */
.articles .flex_other_articles .ctgry_article img {
  width: 130px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: relative;
  transition: all 0.3s;
  background-size: cover;
}

/* line 68, app/assets/stylesheets/_posts_projects.css.scss */
.articles .flex_other_articles .ctgry_article p {
  font-size: 1em;
  margin: 0;
  margin-left: 10px;
  line-height: 18px;
  font-family: 'Roboto Condensed Bold', sans-serif;
  font-style: italic;
}

/* line 75, app/assets/stylesheets/_posts_projects.css.scss */
.articles .flex_other_articles .ctgry_article p a {
  color: #191919;
  text-decoration: none;
}

/* line 84, app/assets/stylesheets/_posts_projects.css.scss */
.comment li {
  padding: 0 !important;
}

/* line 88, app/assets/stylesheets/_posts_projects.css.scss */
.form_inline_wrapper {
  margin-top: 0 !important;
}

/* line 90, app/assets/stylesheets/_posts_projects.css.scss */
.form_inline_wrapper img {
  position: absolute;
}

/* line 93, app/assets/stylesheets/_posts_projects.css.scss */
.form_inline_wrapper .li-content {
  padding-left: 45px;
}

/* line 98, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper {
  display: block !important;
  margin-top: 20px;
}

/* line 101, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper img {
  position: absolute;
}

/* line 106, app/assets/stylesheets/_posts_projects.css.scss */
.reply_form_wrapper {
  padding: 0 0 0 45px !important;
  position: relative;
  max-width: 100% !important;
}

/* line 110, app/assets/stylesheets/_posts_projects.css.scss */
.reply_form_wrapper img {
  position: relative !important;
}

/* line 113, app/assets/stylesheets/_posts_projects.css.scss */
.reply_form_wrapper .form_inline_wrapper .li-content {
  margin-top: -35px;
}

/* line 118, app/assets/stylesheets/_posts_projects.css.scss */
.modal .comment_form_wrapper {
  padding: 0 1rem !important;
}

/* line 122, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper {
  padding: 0 !important;
}

/* line 124, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper form {
  padding: 10px 0 0 45px !important;
  position: relative;
  max-width: 100% !important;
}

/* line 129, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper #comment_field, .comment_form_wrapper #comment_field_reply {
  outline: 0;
  margin: 0 !important;
  border-width: 2px !important;
  border-color: #E9E9E9;
  padding: 5px !important;
  border-radius: 5px;
  min-height: 96px;
  height: 96px;
}

/* line 139, app/assets/stylesheets/_posts_projects.css.scss */
.comment_form_wrapper #comment_field:focus, .comment_form_wrapper #comment_field_reply:focus {
  border-color: #4ABEB6;
}

/* line 145, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback h3 {
  margin: 0;
  font-family: 'Playfair Display';
}

/* line 150, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments #anchor_link:hover, .share_article_feedback .comments #anchor_link:hover i {
  color: #212529 !important;
  transition: color 0.6s ease !important;
  cursor: pointer;
}

/* line 155, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments .fa-quote {
  font-size: 10px;
  color: #A6A09E;
}

/* line 159, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments .reply_form_wrapper {
  display: none;
}

/* line 162, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments .submit_comment {
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;
  float: right;
  margin-bottom: 10px;
}

/* line 169, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments .submit_comment:hover {
  cursor: pointer;
}

/* line 172, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments .submit_comment:focus {
  outline: none;
}

/* line 176, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments i {
  line-height: 1.5;
  color: black;
}

/* line 180, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

/* line 185, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li {
  padding: 8px 0;
  font-size: 14px;
  margin-right: 0;
}

/* line 189, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li span {
  word-wrap: break-word;
}

/* line 192, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li h6 {
  margin: 0;
  line-height: 1.5;
  font-size: 12px;
}

/* line 196, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li h6 a {
  color: black !important;
}

/* line 200, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li .date_ago {
  font-size: 12px;
}

/* line 203, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul li #toggle:hover {
  cursor: pointer;
}

/* line 207, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments ul .delete_btn_x {
  width: 15px !important;
  right: 0;
  position: absolute;
  z-index: 10;
}

/* line 214, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback .comments a {
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* line 221, app/assets/stylesheets/_posts_projects.css.scss */
.text_field {
  outline: 0;
  border-width: 0 0 2px !important;
  border-color: #E9E9E9;
  margin: 0 !important;
  padding: 5px !important;
}

/* line 228, app/assets/stylesheets/_posts_projects.css.scss */
.text_field:focus {
  border-color: #4ABEB6;
}

/* line 232, app/assets/stylesheets/_posts_projects.css.scss */
.post_apply h3, a {
  font-family: "Playfair Display";
  color: black;
}

/* line 237, app/assets/stylesheets/_posts_projects.css.scss */
.post_apply {
  padding: 15px;
}

/* line 239, app/assets/stylesheets/_posts_projects.css.scss */
.post_apply .ads_wrapper {
  margin-bottom: 20px;
}

/* line 244, app/assets/stylesheets/_posts_projects.css.scss */
.share_article_feedback {
  padding: 30px;
}

/* line 248, app/assets/stylesheets/_posts_projects.css.scss */
.post_apply, .share_article_feedback {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 330px;
  max-width: 330px;
  z-index: 30;
  margin-top: 140px;
  margin-left: 20px;
}

/* line 257, app/assets/stylesheets/_posts_projects.css.scss */
.post_apply img, .share_article_feedback img {
  width: 100%;
}

/* line 262, app/assets/stylesheets/_posts_projects.css.scss */
.flex_wrapper_posts {
  max-width: 1300px;
  margin: 0 auto;
}

/* line 267, app/assets/stylesheets/_posts_projects.css.scss */
.flex_wrapper_columns {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* line 273, app/assets/stylesheets/_posts_projects.css.scss */
.content_wrapper {
  max-width: 736px;
}

/* line 277, app/assets/stylesheets/_posts_projects.css.scss */
.skinny {
  margin-left: 100px;
  margin-right: 100px;
  flex-grow: 1;
  max-width: 100%;
}

/* line 285, app/assets/stylesheets/_posts_projects.css.scss */
#posts_wrapper .post {
  text-align: center;
}

/* line 287, app/assets/stylesheets/_posts_projects.css.scss */
#posts_wrapper .post .date {
  font-size: .9em;
  margin: 0;
}

/* line 291, app/assets/stylesheets/_posts_projects.css.scss */
#posts_wrapper .post h2 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}

/* line 295, app/assets/stylesheets/_posts_projects.css.scss */
#posts_wrapper .post h2 a {
  font-weight: bold;
  text-decoration: none;
  color: #424653;
}

/* line 299, app/assets/stylesheets/_posts_projects.css.scss */
#posts_wrapper .post h2 a:hover {
  color: #4ABEB6;
}

/* line 307, app/assets/stylesheets/_posts_projects.css.scss */
iframe {
  margin: 1em auto;
  display: block;
}

/* line 309, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show {
  z-index: 100;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
  position: relative;
  z-index: 0;
  padding: 10px 40px 0 40px;
}

/* line 321, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show #category_title a {
  font-family: "Roboto Condensed Light";
  color: #212529;
  margin-bottom: .5rem !important;
}

/* line 325, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show #category_title a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 331, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show .authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 337, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show .one_author {
  display: flex;
  flex-direction: row;
}

/* line 342, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #4ABEB6;
  text-shadow: 1px 1px #191919;
  font-size: 50px;
  font-family: 'Roboto Condensed Bold', sans-serif;
}

/* line 350, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show h3 a {
  font-size: 15px;
  font-family: 'Roboto Condensed Bold', sans-serif;
  margin: 0;
  margin-top: 23px;
  font-weight: lighter;
  text-transform: uppercase;
}

/* line 357, app/assets/stylesheets/_posts_projects.css.scss */
#post_title_show h3 a a {
  text-decoration: none;
  color: #333;
}

/* line 366, app/assets/stylesheets/_posts_projects.css.scss */
#cke_1_contents {
  min-height: 500px !important;
}

/* line 370, app/assets/stylesheets/_posts_projects.css.scss */
#content {
  padding: 0 40px;
}

/* line 372, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content {
  padding-bottom: 20px;
}

/* line 373, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content br {
  display: none;
}

/* line 377, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content img {
  width: 70% !important;
  height: auto !important;
  margin: 25px auto !important;
  display: block;
}

/* line 383, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content iframe {
  margin: 1em auto !important;
}

/* line 386, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content html {
  margin-left: auto;
  margin-right: auto;
}

/* line 390, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content #twitter-widget-0, #content .post_content #twitter-widget-1 {
  margin: 0 auto !important;
}

/* line 393, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content a {
  color: #4ABEB6;
}

/* line 396, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content a:hover {
  opacity: 0.5;
}

/* line 399, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content blockquote {
  border-left: 5px solid #cccccc;
  padding-left: 10px;
}

/* line 403, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content h1 span {
  font-size: 2.5rem !important;
}

/* line 407, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content h2 span {
  font-size: 2rem !important;
}

/* line 411, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content h3 span {
  font-size: 1.75rem !important;
}

/* line 415, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content h4 span {
  font-size: 1.375rem !important;
}

/* line 417, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content span
h5 span {
  font-size: 1.25rem !important;
}

/* line 423, app/assets/stylesheets/_posts_projects.css.scss */
#content .post_content h6 span {
  font-size: 1rem !important;
}

@media (max-width: 600px) {
  /* line 427, app/assets/stylesheets/_posts_projects.css.scss */
  #content .post_content img {
    width: 100% !important;
  }
}

/* line 434, app/assets/stylesheets/_posts_projects.css.scss */
#share_box {
  text-align: center;
}

/* line 436, app/assets/stylesheets/_posts_projects.css.scss */
#share_box p {
  padding: 0 0 1em 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #424653;
  font-size: .8em;
}

/* line 444, app/assets/stylesheets/_posts_projects.css.scss */
#share_box i {
  color: #424653;
  padding: 1em 1.5em;
}

/* line 447, app/assets/stylesheets/_posts_projects.css.scss */
#share_box i:hover {
  color: #4ABEB6;
  cursor: pointer;
}

/* line 454, app/assets/stylesheets/_posts_projects.css.scss */
#admin_links {
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  margin-top: 0;
}

/* line 461, app/assets/stylesheets/_posts_projects.css.scss */
#admin_links a {
  text-decoration: none;
  color: #9a9da4;
  margin: 0 1em;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  font-family: inherit;
}

/* line 469, app/assets/stylesheets/_posts_projects.css.scss */
#admin_links a:hover {
  color: #4ABEB6;
}

/* line 476, app/assets/stylesheets/_posts_projects.css.scss */
.category_title_trending {
  opacity: 0.8;
  transition: opacity 0.8s;
}

/* line 479, app/assets/stylesheets/_posts_projects.css.scss */
.category_title_trending:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.55;
  transition: opacity 0.8s;
}

@media (max-width: 830px) {
  /* line 490, app/assets/stylesheets/_posts_projects.css.scss */
  .authors {
    display: inline-block !important;
  }
  /* line 492, app/assets/stylesheets/_posts_projects.css.scss */
  .authors .second_author {
    margin-top: 5px;
  }
}

@media (max-width: 800px) {
  /* line 500, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny iframe {
    width: 100% !important;
  }
  /* line 501, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny #post_title_show {
    padding: 1px 20px;
    margin-bottom: 10px;
  }
  /* line 504, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny #post_title_show h1 {
    font-size: 35px !important;
  }
  /* line 510, app/assets/stylesheets/_posts_projects.css.scss */
  #content, .post_apply, .share_article_feedback {
    padding: 0 20px !important;
  }
}

@media (max-width: 435px) {
  /* line 516, app/assets/stylesheets/_posts_projects.css.scss */
  .second_author {
    margin-top: 0 !important;
  }
}

@media (min-width: 1075px) and (max-width: 1240px) {
  /* line 522, app/assets/stylesheets/_posts_projects.css.scss */
  .authors {
    display: inline-block !important;
  }
  /* line 524, app/assets/stylesheets/_posts_projects.css.scss */
  .authors .second_author {
    margin-top: 5px;
  }
}

@media (max-width: 448px) {
  /* line 531, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny {
    max-width: 90%;
    margin: 0 auto !important;
  }
  /* line 534, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny #post_title_show {
    padding: 0px 15px;
  }
  /* line 536, app/assets/stylesheets/_posts_projects.css.scss */
  .skinny #post_title_show h1 {
    padding-top: 20px;
  }
  /* line 541, app/assets/stylesheets/_posts_projects.css.scss */
  #content {
    padding: 0 15px;
  }
  /* line 543, app/assets/stylesheets/_posts_projects.css.scss */
  #content p {
    font-size: 1em;
  }
}
