<div class="alert alert-info" role="alert">
  <p class="m-0 mt-2">
    <% if home %>
      These interview pitches have been submitted by content creators or PR agents. 
      There is an email associated with each pitch which you will use to contact them. 
    <% else %>
      This interview pitch was submitted by a content creator or PR agent. 
    <% end %>
    After claiming an interview, follow these steps: 
  </p>
  <ol>
    <li>Email the contact associated with the pitch. Say that you're a writer from The Teen Magazine and will be interviewing the pitched person.
      Confirm that they would still like to be interviewed.</li>
    <li>Once confirmed, send your interviewee roughly 5-10 questions. Ask for images to use in the article if applicable. Do not assume you can 
      use images found online unless you're embedding social media posts.
    </li>
    <li>After getting a response to the questions, give a date by when you'll have the draft done, and write your draft.</li>
    <li>Once your draft is finished, create a shareable link (instructions will be on your draft) and send it to them to look over.</li>
    <li>When you get their ok, submit the article for review.</li>
  </ol>
  <p>Please contact me at mia@theteenmagazine.com if you need to clarify anything.</p>
</div>
