<div class="submitted" style="max-width: 800px; margin: auto;">
  <div style="padding: 30px;">
    <h1>Your interview request was successfully submitted!</h1>
    <img style="display: block; width: 600px; max-width: 100%; margin: 0 auto;" src="https://media.giphy.com/media/XB6pGqvOfJqY8/giphy.gif" />
    <p>A confirmation email was sent to <%= @pitch.contact_email %> with a copy of your request. You will be emailed by a writer if your interview is picked.</p>
    <p>Submit another <a class="link_grn" href="/pitch-interview">interview request</a>.</p>
    <br>
  </div>
</div>
