$('.spinner-button').addClass("hide");
$("#TTM-Modal").modal('toggle');
$('.claim_pitch_wrapper').empty();
$('.claim_pitch_wrapper').append('<%= j render partial: "users/onboarding/next_steps_partials/pitches", locals: { pitches: @pitches } %>');
$('#onboarding_button').addClass("disabled");
$('#tooltip').removeClass("hide");
$('#final_step').empty();
$('#final_step').append('&#x25CB;<p>Next Steps</p>');
