<div class="modal fade" id="newBadgeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="newBadgeModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 800px; max-width: 95%;">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close p-3 position-absolute" style="right: 0px;" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% if @badge.present? %>
          <%= render '/badges/congrats', background: "linear-gradient( #{@badge.color}, white)" %>
          <div id="modal-body-badges">
            <h2>Congratulations!</h2>
            <p>You've reached a new milestone of <b><%= @badge.level %> <%= @badge.kind %></b>! That means that you are in the top <b><%= @percentile %>%</b> of all writers at The Teen Magazine.
              Your new badge is visible on your writer profile so you can show your friends and family. Amazing job!</p>
          </div>
        <% end %>
      </div>
      <div class="comment_form_wrapper mt-0 pl-4 pr-4">
        <div class="btn_cntnr mb-4 mt-4 pb-0">
          <a href="#" class="newpost--new--profile mr-2 pl-5 pr-5" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
