<div class="guidelines">
  <div class="thelink">
    <a href="/criteria">
    <div class="box foo G1 ">
      <p>Criteria & FAQ</p>
    </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/choosing-a-topic">
      <div class="G2 box foo">
        <p>Pitching an Article</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/writing-the-perfect-article">
      <div class="G3 box foo">
        <p>Writing The Perfect Article</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/finding-images">
      <div class="G5 box foo">
        <p>Finding Images</p>
      </div>
    </a>
  </div>
</div>
