<div class="guidelines">
  <div class="thelink">
    <a href="/pages/content-policy">
    <div class="box foo G1 ">
      <p>1. Content Policy</p>
    </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/pages/image-policy">
      <div class="G5 box foo">
        <p>2. Image Policy</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/pages/pitching-an-article">
      <div class="G2 box foo">
        <p>3. Pitching an Article</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/pages/writing-an-article">
      <div class="G3 box foo">
        <p>4. Writing an Article</p>
      </div>
    </a>
  </div>
</div>
