<div class="stair_step">
  <span class="progress_step">&#x25CB;<p>Welcome</p></span>
  <span>&#x25CB;<p>Your Profile</p></span>
  <span>&#x25CB;<p>Next Steps</p></span>
  <div class="hr">
    <hr />
    <hr />
  </div>
</div>
<div class="onboarding_page_container">
  <div id="onboarding_page">
    <p>Congratulations on being accepted as a writer for The Teen Magazine! Our community of talented and young writers
      inspire and support each other into becoming part of the next generation of
       journalists and influencers of culture and change.</p>
    <%= image_tag "we-are-the-writers.jpg", :class => "welcome_hero" %>
    <blockquote>
      <p style="margin-top: 8px;"><i class="fas fa-quote-left"></i> <i>It's about a girl who is on the cusp of becoming someone.. A girl who may not know what she wants right now, and she may not know who she is right now, but who deserves the chance to find out. </i><i class="fas fa-quote-right"></i>
        <span>- Jodi Picoult, My Sister's Keeper</span>
      </p>
    </blockquote>
    <h5>What to Expect: </h5>
      <p>The Teen Magazine's writer community will give you the guidance and experience necessary to launch your career in the
        journalism and blogging world. As a writer for The Teen Magazine, you will get the opportunity to:
        <ul>
          <li>Pitch article topics and get published in a reputable online magazine</li>
          <li>Have your own public author page that you can share with potential employers</li>
          <li>Gain applicable experience and training in the editorial industry</li>
          <li>Interview successful people and work with brands</li>
          <li>Learn from and network with our talented writer community</li>
        </ul>
        <p>
        If you haven't done so already, please ask to join the <a target="_blank" href="https://www.facebook.com/groups/615063885673363/">Facebook group</a> so that you
        can be an active member in our writer community. We also have a smaller group on <a target="_blank" href="https://www.instagram.com/theteenmagazine_/">Instagram</a> for writers not on Facebook (just dm us).
        </p>
      </div>
      <%= link_to "Next", onboarding_path(step: "your_profile"), :id => "onboarding_button" %>
    </div>
