<div class="stair_step">
  <span class="progress_step">&#x25CB;<p>Welcome</p></span>
  <span>&#x25CB;<p>Your Profile</p></span>
  <span>&#x25CB;<p>Next Steps</p></span>
  <div class="hr">
    <hr />
    <hr />
  </div>
</div>
<div class="onboarding_page_container">
  <div id="onboarding_page">
    <p>Congratulations on being accepted as a writer for The Teen Magazine! Our community of talented and young writers
      inspire and support each other into becoming part of the next generation of
       journalists and influencers of culture and change.</p>
    <%= image_tag "we-are-the-writers.jpg", :class => "welcome_hero" %>
    <blockquote>
      <p style="margin-top: 8px;"><svg width="14px" height="14px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="mb-1 svg-inline--fa fa-quote-left fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path></svg></i> <i>It's about a girl who is on the cusp of becoming someone.. A girl who may not know what she wants right now, and she may not know who she is right now, but who deserves the chance to find out. </i><svg width="14px" height="14px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" class="mb-1 svg-inline--fa fa-quote-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"></path></svg></i>
        <span>- Jodi Picoult, My Sister's Keeper</span>
      </p>
    </blockquote>
    <h5>What to Expect: </h5>
      <p>The Teen Magazine's writer community will give you the guidance and experience necessary to launch your career in the
        journalism and blogging world. As a writer for The Teen Magazine, you will get the opportunity to:
        <ul>
          <li>Pitch article topics and get published in a reputable online magazine</li>
          <li>Have your own public author page that you can share with potential employers</li>
          <li>Gain applicable experience and training in the editorial industry</li>
          <li>Interview successful people and work with brands</li>
          <li>Learn from and network with our talented writer community</li>
        </ul>
        <p>
        If you haven't done so already, please ask to join the <a target="_blank" href="https://www.facebook.com/groups/615063885673363/">Facebook group</a> so that you
        can be an active member in our writer community. We also have a smaller group on <a target="_blank" href="https://www.instagram.com/theteenmagazine_/">Instagram</a> for writers not on Facebook (just dm us).
        </p>
      </div>
      <%= link_to "Next", onboarding_path(step: "your_profile"), :id => "onboarding_button" %>
    </div>
