<h1 id="page_title" style="margin-bottom: -50px;">Users</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <% @users.each do |user| %>
      <div class="user">
        <h3><a href="#"><%= link_to user.email, user%></a></h2>
      </div>
  <% end %>
  <%= link_to "New User", new_user_path, :class => "link--edit" %>
</div>
