<img id="banner" src="https://i.imgur.com/ZCngN89.jpg" />
<div class="skinny_wrapper onboarding">
  <h1>Welcome to The Teen Magazine Writer Team!</h1>
  <p>Please complete the onboarding process.</p>
      <%= render "users/partials/#{@partial}" %>
</div>
