<%= image_tag "banner_onboarding.jpg", id: "banner_writing" %>
<div class="skinny_wrapper">
  <div class="contact">
    <h3>PARTNER WITH US</h3>
    <a href="mailto:advertising@theteenmagazine.com" class="link_nrml">advertising@theteenmagazine.com</a>
    <h3>GENERAL INQUIRIES</h3>
    <a href="mailto:editors@theteenmagazine.com" class="link_nrml">editors@theteenmagazine.com</a>
    <br>
    <br>
  </div>
</div>
