<div class="privacy" style="width: 80%; max-width: 1000px; margin: 0 auto;">
  <h1 id="page_title">Copyright Policy</h1>
<p>Last Updated 05-11-2023</p>

<h3>Notification of Copyright Infringement:</h3>

<p>The Teen Magazine LLC ("The Teen Magazine") respects the intellectual property rights of others and expects its users to do the same. We take copyright infringement very seriously, and we have registered a Copyright Agent with the appropriate authorities, which limits our liability under the applicable copyright laws.
</p>
<p>
It is The Teen Magazine's policy to terminate in appropriate circumstances and at its discretion account holders or subscribers who repeatedly infringe or who are repeatedly charged with infringing the rights of copyright holders.
</p>
<p>
In accordance with the Digital Millennium Copyright Act of 1998 (DMCA), The Teen Magazine will respond expeditiously to claims of copyright infringement committed using the Services (as defined in the The Teen Magazine Terms of Service) that are reported to The Teen Magazine's Designated Copyright Agent, identified in the sample notice below. If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Services by completing the following DMCA Notice of Alleged Infringement and delivering it to The Teen Magazine's Designated Copyright Agent. Upon receipt of the Notice as described below, The Teen Magazine will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Services.
</p>
<p>
DMCA Notice of Alleged Infringement ("Notice")
</p>
<p>
Identify the copyrighted work that you claim has been infringed, or if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.
</p>
<p>
Identify the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the Site(s) where such material may be found.
</p>
<p>
Provide your mailing address, telephone number, and, if available, email address.
</p>
<p>
Include both of the following statements in the body of the Notice:
</p>
<p>
"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."
</p>
<p>
"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."
</p>
<p>
Provide your full legal name and your electronic or physical signature.
Send this Notice, with all items completed, to The Teen Magazine's Designated Copyright Agent:
</p>
<p>
Email: miajohansson@college.harvard.edu<br>
Copyright Agent<br>
The Teen Magazine<br>
</p>

<p>
Please note that any misrepresentation of material fact in a written notification of claimed infringement may result in legal liabilities, including but not limited to damages and attorneys' fees incurred by the alleged infringer or by The Teen Magazine. The Teen Magazine reserves the right to forward any received DMCA notices, including personal information about the notifier, to the alleged infringer.
</p>
<p>
The Teen Magazine LLC will promptly investigate and take appropriate action upon receipt of a valid DMCA Notice of Alleged Infringement, including removal of the challenged material from the Services, in accordance with the DMCA and other applicable laws.
</p>
</div>