<div class="skinny_wrapper criteria">
  <h1 id="page_title">Criteria & FAQ</h1>

  <p class="question">How long does it take for an article to be reviewed? </p>
  <p>It depends on the article. If there are very few mistakes it can take anywhere from a few hours to a couple of days. If the article needs to be corrected by the editor or needs bigger changes, it can take up to five days to be either returned or published.</p>

  <p class="question">How long does it take for an article to be published? </p>
  <p>Usually when an article has been approved, it'll be published right away. Sometimes, however, it will be delayed by a few days if there have been many recently published articles.</p>

  <p class="question">How long should my article be? </p>
  <p>The perfect article length is around 1000+ words. Slightly shorter articles are okay if they are filled with lots of images/gifs.</p>

  <p class="question">What does a published article consist of? </p>
  <p style="margin-bottom: 0;">A published article...
    <ul>
      <li>
         is free of grammar and spelling mistakes
      </li>
      <li>
         has at least one image
      </li>
      <li>
         is broken up into multiple paragraphs to make it easy to read
      </li>
      <li>
         has multiple relevant headers
      </li>
      <li>
        is formatted corretly as described in <a href="/writing-the-perfect-article">Writing The Perfect Article</a>.
      </li>
    </ul>
  </p>

  <p class="question">How often should I submit an article?</p>
  <p>Preferably, you should be uploading articles at least once every two weeks so that our site can stay active. You can opt-in to bi-weekly article
    assignments your <%= link_to "edit profile page", edit_user_path(current_user) %>. There is no limit to how many articles you can submit per month, and we would love for you to write as many articles as you have time for.</p>

  <p class="question">How do I include images? </p>
  <p>Please visit <a href="/writing-the-perfect-article">Writing The Perfect Article</a></p>

  <p class="question">What should I write about? </p>
  <p>Please Visit <a href="/choosing-a-topic">Choosing A Topic</a> or claim a pitch from <%= link_to("Editor Pitches", pitches_path) %>.</p>

  <p class="question">What if I want to write something that doesn't fit a category? </p>
  <p>If you want to pitch an article idea that doesn't fit a category, it might not be right for The Teen Magazine, but you can reach out to any one of the editors through the Facebook group to ask about your idea.</p>

  <p class="question">What if I have a friend that wants to write for The Teen Magazine?</p>
  <p>That's great! Tell your friend to apply at <a href="http://www.theteenmagazine.com/apply">www.theteenmagazine.com/apply</a>. We will then review your friend's application and send her an email with her account if she's accepted.</p>

  <p class="question">How can I pitch an article idea? </p>
  <p>Right now, only editors can pitch article topics.</p>

  <p class="question">How can I become an editor?</p>
  <p>Email editors@theteenmagazine.com.</p>

  <p class="question">How can I change my password? </p>
  <p>You can change your password  <a target="_blank" href="/users/edit">here</a>.</p>

  <p class="question">I have someone I want to interview. How do I reach out to them, and ask for an interview?</p>
  <p>Our interview team conducts all interviews on The Teen Magazine. Please apply to our interview team through our <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScDJe80_E686pG1L7R5w-84HHZcotFmuBSyQV5rqUB2jUQTag/viewform">Google form</a>.
    Please note that applications are accepted at the end of every month and writers who are not active in the interview group are removed for the following month.</p>

  <p class="question">Have a question that wasn't answered here?</p>
  <p>Email us at editors@theteenmagazine.com or message one of the editors in the <a href="https://www.facebook.com/groups/615063885673363/">Facebook group</a>.</p>

  <p>Read "<a href="/choosing-a-topic">Choosing A Topic</a>" Next →</p>
</div>
