<div class="skinny_wrapper theimages">
  <h1 id="page_title">Finding Images</h1>
  <%= image_tag("11.png") %>

  <ul>
    <li>Sites with the best lifestyle images are <a target="_blank" href="https://www.pinterest.com">Pinterest.com</a>, <a target="_blank" href="http://favim.com/">Favim.com</a>, and <a target="_blank" href="http://weheartit.com/">WeHeartIt.com</a>. Only use images that have lots of shares.</li>
    <li>Do not use images that have watermarks or copyright seals. Google search is not a safe way to find images.</li>
    <li>Some great royalty free, high-quality image websites are <a target="_blank" href="https://www.pexels.com/">Pexels.com</a>, <a target="_blank" href="https://unsplash.com/">Unsplash.com</a>, <a target="_blank" href="https://creativecommons.org/">Creative Commons</a>, and <a target="_blank" href="Favim.com">Favim.com</a>.</li>
    <li>You may use GIF's and please do. They make articles more interesting and interactive. You can search for gifs on google and insert them just like you would for an image. A good site to find gifs on is <a target="_blank" href="http://giphy.com/">Giphy.com</a></li>
    <li>All images need to be good quality and not grainy. </li>
    <li>The image you choose for your thumbnail needs to be high resolution quality.</li>
    <li> If you are writing about a certain product, you may use the product image on company's website or on any other site like amazon.</li>
  </ul>

  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle cx="26" cy="26" r="25" fill="none"/>
    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>

  <p>Return to your <%= link_to "dashboard", user_path(current_user) %></p>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $.fn.triggerCheck();
    $("#site-wrapper").scroll(function(){
        $.fn.triggerCheck();
    });
  });
</script>
