<div class="skinny_wrapper theimages">
  <h1 id="page_title">Image Policy</h1>
  <div class="alert alert-warning" role="alert">
    <p class="m-0">
    Due to an ongoing copyright issue, our image policy is now much stricter. 
    Published articles that <b>have not accepted our image policy</b> have had their images/thumbnails hidden.</p>
    <p class="m-0">To show the hidden images:</p>
    <ol>
      <li>Cite the images in accordance with the new image policy below (or delete/replace the images).</li>
      <li>Accept the image policy on your article's edit page to show the images.</li>
    </ol>
    <p class="m-0">Articles published from May, 2023 to August 2023, that have accepted the <b>old image policy</b>, have until <b>October 31, 2023</b> to comply with the <b>new image policy</b> to avoid their images being hidden or deleted.</p>
  </div>
  <h3><b>Image Usage Policy</b></h3>
  <p>As a writer for our platform, you are responsible for ensuring that any images used in your content comply with applicable copyright laws and are used in accordance with our policies. Failure to follow this policy will result in your immediate removal from The Teen Magazine's platform.
  </p>
  <ul>
    <li>
      <b class="text-decoration-underline">Image Attribution on every image</b>: When using images in your content and thumbnail, you must <b>always</b> provide proper attribution, giving credit to the original creator or source of the image as required by the relevant licensing terms. 
      <span style="background-color: #FCD04D">Use a link back to the original image (if possible) and include the name of the copyright owner (see example)</span>.
    </li>
    
    <h3 class="mt-3">Format for citing articles that you have uploaded to The Teen Magazine server:</h3>
    
    <p style="font-size: 16px"><img alt="" src="https://www.theteenmagazine.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBektQQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4ecc3fe35ff1203ef1e67ad14b98c594806057de/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDTUFJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--ccc8d2dd01e46c1ac2520450f0ff6ce8129ddfd9/pexels-stephanie-ho-994174.jpg" /></p>

    <p style="text-align: center !important;">Image Credit: <a href="https://www.pexels.com/photo/adult-tan-and-white-pembroke-welsh-corgi-sits-on-floor-994174/">Stephanie Ho&nbsp;from Pexels</a></p>
    <ol>
      <li>If you took the picture yourself, you can write your name under the article like in <a target="_blank" href="https://www.theteenmagazine.com/a-review-of-9-summer-books-from-classics-to-romcoms">this article</a>. Please note that if you falsely claim you took a picture when that was not true, you can be held personally liable for copyright infringement and <i>will be immediately removed from the platform</i>.</li>
      <li>If you received explicit permission to use the image by the copyright owner, then you can cite below the image, <b>"Courtesy of [copyright owner's name]"</b>.</p>
    </ol>
    <li>
      <b class="text-decoration-underline">Royalty-Free Images</b>: You may use royalty-free images that are licensed for free use or under a Creative Commons (CC) license, provided that you comply with the terms of the license and properly attribute the images. These are the current list of websites that The Teen Magazine has okayed for you to use images from. <span style="background-color: #FCD04D">If you want to use a royalty image from a different website, 
      please email mia@theteenmagazine.com first to have it added to the list.</span>
      <ol>
        <li><a target="_blank" href="https://unsplash.com/">https://www.pexels.com/</a></li>
        <li><a target="_blank" href="https://unsplash.com/">https://pixabay.com/</a></li>
        <li><a target="_blank" href="https://unsplash.com/">https://unsplash.com/</a></li>
        <li><a target="_blank" href="https://commons.wikimedia.org/wiki/Category:Images">https://commons.wikimedia.org/wiki/Category:Images</a></li>
        <li><a target="_blank" href="https://www.dgepress.com/">https://www.dgepress.com/</a></li>
        <li><a target="_blank" href="https://www.canva.com/">https://www.canva.com/</a>. You can create your own designs on Canva <i>only with the assets already found on Canva</i>. If you can't find the original source of the asset, you can cite under your image: Created on Canva. 
        This is so that our editors and Mia know where your design came from.</li>
        <li><i>
          If you are an entertainment writer over the age of <b>18</b></i> <u>only</u>, you may apply for a press license through Hulu. Read their terms of use before applying for an account: <a target="_blank" href="https://press.hulu.com/terms/">https://press.hulu.com/terms/</a>.
        </li>
      </ol>
      <div class="alert alert-warning" role="alert">
        The <i>only</i> exception for finding images from some other source other than the list above applies to <b>media kits intedended for press only</b>. Businesses or artists often have this publically accessible on their site. 
        If they do not, you must email them for explicit permission to use their image, and cite the image with "Courtesy of [copyright owner's name or business]"
      </div>
    </li>
    <li>
      <b class="text-decoration-underline">Prohibited Images</b>: If the image you found is not from the list above, it is <b>prohibited</b> to use. 
            <h3>***Pinterest is NOT an ok site to get images from! If you have images on your articles that you have cited from Pinterest, you must remove them.***</h3>
    </li>
    <li>
      <b class="text-decoration-underline">Consequences for not adhering to this policy</b>: <span style="background-color: #FCD04D">If you wrongly accept this policy from the date hereof without adhering to the rules in this image policy, your writer account will be suspended and your article will be unpublished.
      If you accepted the old image policy before it was updated, you are still responsible for updating your articles, however you have until <b>10/31/23</b> to comply with the new policy.</span> After that, images in your articles may be deleted by editors, and in some cases, your article(s) will be unpublished. You may also be held accountable for any resulting copyright infringement or other legal consequences The Teen Magazine receives as a result of your infringing image(s).
      You are solely responsible for the images you use in your content, and you must indemnify and hold our platform harmless from any claims, damages, or losses resulting from your failure to comply with this policy.
    </li>
  </ul>
  <h3><b>Embedding Social Media Posts</b></h3>
  <p>
    The Teen Magazine allows embedding social media posts in your articles. Since you're not uploading a copy of the image or video, 
    it is legally considered a "link" and therefore is not copyright infringement.
  </p>
  <p>
    This is an ongoing issue however and The Teen Magazine reserves the right to change this policy depending on what the higher courts say. Read more about the issue here:
    <ul>
      <li><a target="_blank" href="https://www.sportico.com/law/analysis/2023/embedded-instagram-posts-not-infringement-1234731168/">https://www.sportico.com/law/analysis/2023/embedded-instagram-posts-not-infringement-1234731168/</a></li>
    </ul>
  </p>
  <p>
    By using images in your content, you acknowledge and agree to comply with this Image Usage Policy. Failure to follow this policy may result in removal of your content from our platform and may make you liable for any legal consequences arising from copyright infringement or other violations. It is your responsibility to ensure that you have proper rights and permissions for any images used in your content, and to promptly remove any images that are found to be in violation of this policy or applicable copyright laws.
  </p>
  <p>
    If you have any questions about the image policy or following the image guidelines, you can post in the <b>Discord chat</b> <a href="https://discord.com/channels/1081601449550688286/1081601450737676474">here</a>.
  </p>
  <i>Last updated September 4th, 2023</i>
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle cx="26" cy="26" r="25" fill="none"/>
    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>
  <p>Return to your <%= link_to "dashboard", user_path(current_user) %></p>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(window).on('scroll',function(){
        $.fn.triggerCheck();
    });
  });
</script>
