<div class="skinny_wrapper theimages">
  <h1 id="page_title" style="margin-top: -10px;">Finding Images</h1>
  <%= image_tag("11.png") %>

  <ul>
    <li>Sites with the best lifestyle images are <a target="_blank" href="https://www.pinterest.com">Pinterest.com</a>, <a target="_blank" href="http://favim.com/">Favim.com</a>, and <a target="_blank" href="http://weheartit.com/">WeHeartIt.com</a>. Only use images that have 5,000+ shares.</li>
    <li>Do not use images that have watermarks or copyright seals. Google search is not a safe way to find images.</li>
    <li>You may use GIF's and please do. They make articles more interesting and interactive. You can search for gifs on google and insert them just like you would for an image. A good site to find gifs on is <a target="_blank" href="http://giphy.com/">Giphy.com</a></li>
    <li>All images need to be good quality and not grainy. </li>
    <li>The image you choose for your thumbnail needs to be high resolution quality.</li>
    <li> If you are writing about a certain product, you may use the product image on company's website or on any other site like amazon.</li>
  </ul>

  <p>Don't worry about giving credit to an image or gif inside your actual article.</p>

  <p>Return to your <%= link_to "dashboard", user_path(current_user) %></p>
</div>
