<div class="skinny_wrapper">
  <h1 class="title">Congratulations! You've just received access to The Teen Magazine's July issue.</h1>
  <p><a target="_blank" href="https://s3.amazonaws.com/media.theteenmagazine.com/ttm_issue_july_2020.pdf">View pdf in new tab.</a></p>
  <iframe src="https://s3.amazonaws.com/media.theteenmagazine.com/ttm_issue_july_2020.pdf" width="100%" height="1200" style="border: none;"> </iframe>
  <br/>
  <br/>
  <br/>
</div>
