<div id='manage-images'>
    <div id='ckbox'></div>
</div>
<script>
  CKBox.mount(document.querySelector("#ckbox"), {
    tokenUrl:
      "https://100142.cke-cs.com/token/dev/to726l0e2ziEvM2HFco41aOAgK8XeKAlbMnt?limit=10",
    view: {
      openLastView: true,
    },
  });
</script>