<div class="privacy" style="width: 80%; max-width: 1000px; margin: 0 auto;">
  <h1 id="page_title_padded">The Teen Magazine Privacy Policy</h1>
  <p>At The Teen Magazine, we are deeply committed to safeguarding your personally identifiable Information in accordance with US privacy laws and information security standards. To provide you with clarity regarding the handling of your personal information, please carefully review our privacy policy, which explains how we collect, utilize, and protect your information within the scope of our website.</p>

  <p><strong>What Personal Information Do We Collect?</strong></p>

  <p>When you visit&nbsp;our website, we may request and collect the following:</p>

  <ul>
    <li>Name</li>
    <li>Email Address</li>
  </ul>
  <p>We gather this information when you subscribe to our newsletter, complete forms, or comment on our website.</p>
  <p>Other relevant details if you apply and/or are accepted to be a writer for the site include, but are not limited to,
  <ul>
    <li>Profile image (optional)</li>
    <li>Writer bio</li>
    <li>Cover letter</li>
    <li>Resume</li>
    <li>Sample writing</li>
    <li>Activity stats</li>
  </ul>
  <p>Writers have full control over what information they want to be publically available (such as their bio or profile photo) and we never share our writers' or readers' personal information with any other party.</p>
  <p>Anyone on the site can request to have their account and all their articles/data deleted by contacting us at editors@theteenmagazine.com.</p>

  <p><strong>Google Analytics.</strong>
  
  <p>We use Google Analytics to analyze the use of our website. Google Analytics gathers information about website use by means of cookies. The information gathered relating to our website is used to create reports about the use of our website. 
  Google's privacy policy is available at: <a target="_blank" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a></p>

  <p><strong>Advertising.</strong> 

  <p>This Site is affiliated with CMI Marketing, Inc., d/b/a Raptive (“Raptive”) for the purposes of placing advertising on the Site, and Raptive will collect and use certain data for advertising purposes. 
  To learn more about Raptive’s data usage, click here: <a href="https://raptive.com/creator-advertising-privacy-statement">https://raptive.com/creator-advertising-privacy-statement</a></p>

  <p><strong>Third-Party Links</strong></p>

  <p>On occasion, we may include or endorse third-party products or services on our website. These third-party sites maintain separate and independent privacy policies, for which we bear no responsibility or liability. However, we are committed to safeguarding our site&#39;s integrity and welcome feedback about these linked sites.</p>

  <p><strong>Compliance with Laws</strong></p>

  <p>Our practices adhere to the California Online Privacy Protection Act (CalOPPA), allowing you to visit our site anonymously. We ensure that our privacy policy is easily accessible from our home page and first significant page after entering our website, featuring the term &quot;Privacy.&quot; You will be notified of any policy changes on our Privacy Policy page. You have the option to change your personal information by emailing us or logging into your account.</p>

  <p><strong>Do Not Track and Third-Party Behavioral Tracking</strong></p>

  <p>We respect Do Not Track signals and do not engage in behavior that conflicts with them. Furthermore, we allow third-party behavioral tracking.</p>

  <p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>

  <p>We do not market specifically to children under 13 years old, nor do we permit third parties, including ad networks or plugins, to collect PII from children under 13.</p>

  <p><strong>Fair Information Practices</strong></p>

  <p>Our privacy practices align with Fair Information Practices, ensuring that we take responsive action in the event of a data breach. We commit to notifying you via email within seven business days. We also uphold the Individual Redress Principle, allowing individuals to pursue enforceable rights against non-compliant data collectors and processors.</p>

  <p><strong>CAN SPAM Act</strong></p>

  <p>We collect email addresses for the purpose of sending trending articles that our readers are interested in, sending out important updates, and responding to inquiries. In accordance with the CAN SPAM Act, our emails are not misleading and include identification as advertisements. Additionally, we provide our business address, monitor third-party email marketing services for compliance, and promptly honor opt-out/unsubscribe requests.</p>

  <p><strong>Unsubscribe Instructions</strong></p>

  <p>You can unsubscribe from future emails by following the instructions provided at the bottom of each email.</p>

  <p><strong>Contact Us</strong></p>

  <p>For any questions or concerns regarding this privacy policy, please contact us through our contact page <a href="https://www.theteenmagazine.com/contact-us">here</a>.</p>

  <p>This privacy policy is designed to ensure the protection of your Personally Identifiable Information while providing transparency about our data practices. Your trust and privacy are of utmost importance to us.</p>
  <p>Last Edited on December 31, 2023</p>
</div>
