<div class="privacy" style="width: 80%; max-width: 1000px; margin: 0 auto;">
  <h1 id="page_title">The Teen Magazine Privacy Policy - Protecting Your Personally Identifiable Information</h1>
  <p>At The Teen Magazine, we are deeply committed to safeguarding your Personally Identifiable Information in accordance with US privacy laws and information security standards. PII refers to information that can identify, contact, or locate an individual, either alone or in conjunction with other data. To provide you with clarity regarding the handling of your personal information, please carefully review our privacy policy, which explains how we collect, utilize, and protect your information within the scope of our website.</p>

  <p><strong>What Personal Information Do We Collect?</strong></p>

  <p>When you visit&nbsp;our website, we may request and collect the following:</p>

  <ul>
    <li>Name</li>
    <li>Email Address</li>
  </ul>
  <p>We gather this information when you subscribe to our newsletter, complete forms, or comment on our website.</p>
  <p>Other relevant details if you apply and/or are accepted to be a writer for the site include, but are not limited to,
  <ul>
    <li>Profile image (optional)</li>
    <li>Writer bio</li>
    <li>Cover letter</li>
    <li>Resume</li>
    <li>Sample writing</li>
    <li>Activity stats</li>
  </ul>
  <p>Writers have full control over what information they want to be publically available (such as their bio or profile photo) and we never share our writers' or readers' personal information with any other party.</p>
  <p>Anyone on the site can request to have their account and all their articles/data deleted by contacting us at editors@theteenmagazine.com.</p>

  <p><strong>Google Analytics:</strong> We employ Google Analytics, a web analytics service by Google, Inc., to analyze traffic and user behavior on our website. Google Analytics uses cookies and similar technologies to provide insights into visitors&#39; interactions with our site. The data collected includes, but is not limited to:</p>

  <ul>
    <li>IP Address: Used for approximate geographical location estimation, with no personally identifiable information access.</li>
    <li>Browser and Device Information: Helps ensure compatibility with various platforms.</li>
    <li>Pages Visited: Informs us about popular content and user navigation patterns.</li>
    <li>Referral Sources: Tracks how users arrive at our website to optimize marketing efforts.</li>
    <li>User Behavior: Provides data on interactions, such as clicks on links and buttons.</li>
    <li>Demographics and Interests: Aggregated data based on browsing behavior.</li>
  </ul>

  <p>This information exclusively aids in enhancing our website&#39;s performance, content, and user experience, guiding our design, content strategy, and marketing efforts. Importantly, we do not have access to personally identifiable information unless voluntarily provided by users through forms or other website interactions.</p>

  <p>Your usage of our website implies consent to Google&#39;s data processing methods as described. Further details about Google Analytics and data handling can be found in Google&#39;s Privacy Policy. To opt out of Google Analytics data collection and analysis, you can install the Google Analytics Opt-out Browser Add-on provided by Google.</p>

  <p><strong>Advertising.</strong> 

  <p>This Site is affiliated with CMI Marketing, Inc., d/b/a Raptive (“Raptive”) for the purposes of placing advertising on the Site, and Raptive will collect and use certain data for advertising purposes. 
  To learn more about Raptive’s data usage, click here: <a href="https://raptive.com/creator-advertising-privacy-statement">https://raptive.com/creator-advertising-privacy-statement</a></p>

  <p><strong>Third-Party Links</strong></p>

  <p>On occasion, we may include or endorse third-party products or services on our website. These third-party sites maintain separate and independent privacy policies, for which we bear no responsibility or liability. However, we are committed to safeguarding our site&#39;s integrity and welcome feedback about these linked sites.</p>

  <p><strong>Google</strong></p>

  <p>Google uses cookies to serve ads on our site, utilizing the DART cookie to personalize ad content based on users&#39; past site visits. Users can opt out of the DART cookie via Google&#39;s Ad and Content Network privacy policy. We have implemented features like Demographics and Interests Reporting through Google Analytics to enhance user experience.</p>

  <p><strong>Compliance with Laws</strong></p>

  <p>Our practices adhere to the California Online Privacy Protection Act (CalOPPA), allowing you to visit our site anonymously. We ensure that our privacy policy is easily accessible from our home page and first significant page after entering our website, featuring the term &quot;Privacy.&quot; You will be notified of any policy changes on our Privacy Policy page. You have the option to change your personal information by emailing us or logging into your account.</p>

  <p><strong>Do Not Track and Third-Party Behavioral Tracking</strong></p>

  <p>We respect Do Not Track signals and do not engage in behavior that conflicts with them. Furthermore, we allow third-party behavioral tracking.</p>

  <p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>

  <p>We do not market specifically to children under 13 years old, nor do we permit third parties, including ad networks or plugins, to collect PII from children under 13.</p>

  <p><strong>Fair Information Practices</strong></p>

  <p>Our privacy practices align with Fair Information Practices, ensuring that we take responsive action in the event of a data breach. We commit to notifying you via email within seven business days. We also uphold the Individual Redress Principle, allowing individuals to pursue enforceable rights against non-compliant data collectors and processors.</p>

  <p><strong>CAN SPAM Act</strong></p>

  <p>We collect email addresses for the purpose of sending trending articles that our readers are interested in, sending out important updates, and responding to inquiries. In accordance with the CAN SPAM Act, our emails are not misleading and include identification as advertisements. Additionally, we provide our business address, monitor third-party email marketing services for compliance, and promptly honor opt-out/unsubscribe requests.</p>

  <p><strong>Unsubscribe Instructions</strong></p>

  <p>You can unsubscribe from future emails by following the instructions provided at the bottom of each email.</p>

  <p><strong>Contact Us</strong></p>

  <p>For any questions or concerns regarding this privacy policy, please contact us through our contact page <a href="https://www.theteenmagazine.com/contact-us">here</a>.</p>

  <p>This privacy policy is designed to ensure the protection of your Personally Identifiable Information while providing transparency about our data practices. Your trust and privacy are of utmost importance to us.</p>
  <p>Last Edited on December 31, 2023</p>
</div>
