<div id="banner_writing" class="editor"></div>
<div class="apply_wrapper wrapper_padding pitch_form_wrapper writing">
  <h3>Notes on Approving Pitches</h3>

  <p>Most writers choose their own topics for their article. While most of these are great, these topics should be evaluated carefully before approving. Having a millennial and Gen Z audience, it is necessary to have articles that&#39;ll be interesting to teenagers.&nbsp;</p>

  <p>While reviewing a topic, think to yourself, &#39;Will I genuinely read this article if I randomly come across it?&#39; If the answer is no, you know what to do. However, when rejecting a topic idea, make sure you provide a good reason that the topic doesn&#39;t suit our teenage audience so the writer won&#39;t repeat the mistake.&nbsp;</p>

  <p><em>Note: Don&#39;t accept articles that only submit short stories or poems since we don&#39;t publish creative pieces.&nbsp;</em></p>

  <p>Example:</p>

  <p><strong>Pitches to accept&nbsp;</strong></p>

  <ul>
  <li>Top 10 Fun Books to Read This Fall</li>
  <li>How to Throw a Killer&nbsp;Halloween Party Without Breaking the Bank</li>
  <li>10 Ways to Actually Earn Money at Home</li>
  </ul>

  <p><strong>Pitches NOT to accept</strong></p>

  <ul>
  <li>The History Behind Pianos and Why We Play Them</li>
  <li>The Boy and a Lion &mdash; a poem</li>
  <li>How Does a Panther Find Its Prey</li>
  </ul>

  <p><strong>Do not accept pitches that cover topics that are too wide</strong></p>

  <ul>
  <li>Global Warming</li>
  <li>Saving Water</li>
  <li>Types of Pollution</li>
  <li>Climate Change</li>
  </ul>

  <p><strong>Instead, you can accept pitches, which narrows down these topics</strong></p>

  <ul>
  <li>How 2020 has been a critical year for our climate and future</li>
  <li>New research proves that Gen Z will face the worst climate change in the past 80 years</li>
  <li>Why California Fires are getting worse every year</li>
  </ul>

  <p>Start reviewing <a href="/reviews">submitted pitches</a> →</p>
</div>
