<div id="banner_writing" class="editor G6"></div>
<div class="apply_wrapper wrapper_padding pitch_form_wrapper writing">
  <h3>Editor Onboarding & Monthly Assignments</h3>

  <%= render "pages/editor_partials/start_content" %>

  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle cx="26" cy="26" r="25" fill="none"/>
    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>

  <p>Read <a href="/pitching-new-articles"><b>Pitching New Articles</b></a> Next →</p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.fn.triggerCheck();
    $(window).on('scroll',function(){
        $.fn.triggerCheck();
    });
  });
</script>
