<div class="skinny_wrapper criteria">
  <h1 id="page_title">How To Style Your Articles</h1>
  <p class="question">
    What do the symbols next to my posts mean?</p>
    <span><%= image_tag "saved.png", class: "icon" %> <p class='p--nextto'>Your article is saved, and you're the only one who can see it and can edit it. It has not been submitted for approval yet.</p></span>
    <span><%= image_tag "waiting.png", class: "icon" %><p class='p--nextto'>You've submitted your finished article for review and it's waiting for an administer to approve it.</p></span>
    <span><%= image_tag "approved.png", class: "icon" %><p class='p--nextto'>Your article is approved and is now ready to be published. It is up to you to click "Publish Article" for it to go live on the site.</p></span>
    <span><%= image_tag "published.png", class: "icon" %><p class='p--nextto'>Your article is published and is live on The Teen Magazine.</p></span>
  <br />
  <p class="question">How often should I submit an article?</p>
  <p>Preferably, you should be uploading articles at least once every two weeks so that our site can stay active, but there are no official deadlines. However, if you can fit it into your schedule, we would love for you to write as many articles as you can.</p>

  <p class="question">How long should my article be? </p>
  <p>The perfect article length is around 500+ words. Shorter articles are okay too if they are filled with lots of images/gifs. </p>

  <p class="question">What does a published article consist of? </p>
  <p style="margin-bottom: 0;">A published article...
    <ul>
      <li>
         is free of grammar and spelling mistakes
      </li>
      <li>
         has at least one image
      </li>
      <li>
         is broken up into multiple paragraphs that aren't more than four lines each
      </li>
      <li>
         has multiple relevant headers
      </li>
      <li>
        is formatted corretly as described in <a href="/writing-the-perfect-article">Writing The Perfect Article</a>.
      </li>
    </ul>
  </p>


  <p class="question">How do I include images? </p>
  <p>  Please visit <a href="/writing-the-perfect-article">Writing The Perfect Article</a></p>


  <p class="question">What should I write about? </p>
  <p>Please Visit <a href="/choosing-a-topic">Choosing A Topic</a>.</p>

  <p class="question">What if I Want To Write Something That Doesn't Fit a Category? </p>
  <p>Most likely this is okay. To be safe you should email Mia at mia@theteenmagazine.com to confirm your idea. If it's about something that most teenage girls would find interesting, then it'll most likely be a good idea.</p>

  <p class="question">Can I write product reviews?</p>
  <p>Yes, but we limit these articles to only one for every three articles you write. Additionally, any review you write needs to be genuine and well thought out.</p>

  <p class="question">Can I include affiliate links?</p>
  <p>  Yes, but we limit these to 5 for every three articles you write. You could include all five in one article, or spread them out between the three. Affiliate links also need to be woven into your article. For example, you might say: "This <a href="https://www.amazon.com/Moroccanoil-Luminous-Hairspray-Strong-Ounce/dp/B007B3T47Y/ref=sr_1_cc_5_a_it?s=aps&ie=UTF8&qid=1487554070&sr=1-5-catcorr&keywords=hairspray+for+hair">hairspray</a> is a must have because..." instead of "<a href="https://www.amazon.com/Moroccanoil-Luminous-Hairspray-Strong-Ounce/dp/B007B3T47Y/ref=sr_1_cc_5_a_it?s=aps&ie=UTF8&qid=1487554070&sr=1-5-catcorr&keywords=hairspray+for+hair">Buy this hairspray</a>".</p>

  <p class="question">What if I have a friend that wants to write for The Teen Magazine?</p>
  <p>  That's great! Tell your friend to apply at <a href="http://www.theteenmagazine.com/applies/new">www.theteenmagazine.com/applies/new</a>. We will then review your friend's application and send her an email with her account if she's accepted.</p>

  <p class="question">How can I become an editor?</p>
  <p>  Editor status is only available for writers who have at least 15 published articles. Once you have 15 published articles, you can email Mia at mia@theteenmagazine.com with an inquiry.</p>

  <p class="question">Have a question that wasn't answered here?</p>
  <p>  Email Mia at mia@theteenmagazine.com! She is willing to help with anything you might have a question about. :)</p>

  <p>Read "<a href="/choosing-a-topic">Choosing A Topic</a>" Next →</p>
</div>
