<div class="submitted" style="max-width: 1000px; margin: auto;">
  <div style="padding: 0px 20px">
    <h1>Hi There!</h1>
    <iframe style="width: 100%; max-width: 560px; margin: 0 auto; display: block;" height="310" src="https://www.youtube.com/embed/6rsRDe4vy1w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br />
      <div class="signupdiv signup_full">
        <div class="container">
          <div class="exclusive-offer">
            <h5 class="exclusive-title" id="exclusive-title--id">Stay up-to-date with The Teen Magazine by subscribing to our online magazine!</h5>
          </div>
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <div class="signup">
          <div class="clearfix">
            <div id="mc_embed_signup" class="home--signup">
            <form action="//herokuapp.us14.list-manage.com/subscribe/post?u=5c2a24e15a906f29e2c6a9b72&amp;id=3081d2e76a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding-left: 0;" novalidate>
                <div id="mc_embed_signup_scroll">
              <h2>Subscribe to our magazine:</h2>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
                 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="mccontainer">
              <div class="mc-field-group" style="min-height: 10px; margin: 0; padding-bottom: 5px;">
                <label for="mce-EMAIL">Email Address </label>
              </div>
               <div class="flex--email">
                 <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="min-width:70% !important;">
                 <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c2a24e15a906f29e2c6a9b72_3081d2e76a" tabindex="-1" value=""></div>
                 <div class="clear"><input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
               </div>
            </div>
              </div>
            </form>
            </div>
          </div>
         </div>
        </div>
      </div>
    <br />
    <p>The Teen Magazine is an online magazine written for teens by teens! We started in 2017 as a small blog with only a few writers, but since then, The Teen Magazine has grown into an international online magazine with over 150 writers from around the world!
      Today The Teen Magazine gives aspiring journalists a platform to publish and covers topics such as social issues, news, entertainment, fashion, advice, and more.</p>
    <div class="social-media-subscribe">
      <a href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
      <a href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
      <a href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
      <a href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
    </div>
    <br />
    <div class="flex--welcome">
      <div class="flex-1">
        <div class="beauty--section">
          <% @posts_approved[1..3].each do |post| %>
            <div class="one_beauty_article">
              <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
              <h1><%= link_to post.title, post %></h1>
              <p><%= post.created_at.strftime("%A, %b %d")%></p>
              <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br />
    <div class="read_more_button">
      <a href="/">Read More!</a>
    </div>
    <br />
  </div>
</div>
