<%= image_tag "banner_onboarding.jpg", id: "banner_writing" %>
<div class="skinny_wrapper team">
  <h1>About Us</h1>
  <p>
    We believe that teen magazines should be inclusive and focus on topics written by, and important to, teens.
    The Teen Magazine is the first online magazine for high schoolers that gives young, aspiring journalists the opportunity to share their voice,
    build their writing portfolio, and receive peer feedback and mentorship in the editorial industry.
    In addition to contributing and submitting content, our writers can connect with each other, share ideas, and help each other improve.
  </p>
  <h1>Our Story</h1>
  <p>
    As a Junior in high school, <%= link_to("Mia Johansson", User.first, :class => "link_nrml underline") %>
    found there was a need for an online platform for young writers to connect and have their voices heard.
    She built the first version of The Teen Magazine in 2017, and since then, the online publishing platform has reached hundreds of thousands of readers and
    has a writer community with <%= User.count %> writers from around the world. Mia is now a student at Harvard and continues to work on the website.
  </p>
  <p>
    Mia cannot thank The Teen Magazine's writers enough for sparking her passion and love for this community. Our current writer team is at the heart of our ever-evolving online platform for young writers, and
    Mia is currently working on new features for The Teen Magazine that will give more resources to writers and make the platform more social.
  </p>
  <h1>Join Our Team</h1>
  <p>Apply to our writer community <%= link_to("here", "/apply", :class => "link_nrml underline") %>.</p>
  <br>
</div>
