<div class="skinny_wrapper topics">
  <h1 id="page_title_padded">Pitching an Article</h1>

  <p>You may write an article on anything that fits into a category and meets our content policy below.
     If you're not sure what to write about, it is recommended to claim a pitch from our editors <%= link_to "here", pitches_path %>.</p>

  <p>Our editors reserve the right to reject any pitch that does not meet the below criteria. To pitch a new article topic, go <a target="_blank" href="/pitches/new">here</a>.</p>

  <h3 id="topic-requirements">Content requirements</h3>

  <p>An article or pitch will not be approved if it:</p>
  <ul>
    <li>Depicts, contains, or provides access to violent content or threatens physical harm to a particular individual or group</li>
    <li>Is pornographic or obscene</li>
    <li>Contains copyrighted content</li>
  </ul>
  <p>This includes any pitches that directly deal with or report on violence, sex, drugs, or otherwise fit into any of the above categories.</p>
  <p>Any articles/pitches that are approved/published and go against these policies will be immediately taken down. The Teen Magazine also has the right to remove any writers or editors who repeatedly ignore these content policies.</p>
  <h5 id="topic-requirements"><b>The topic should be relevant to a teenage audience</b></h5>
  <p>Any article that is pitched should be specifically made for a teenage audience. This means it addresses a topic, experience, and/or problem that is felt by, or of interest to, some or most teens. It is not enough for the article to be of interest to some teens just because the topic has such a broad audience already (see diagram).</p>
  <%= image_tag("specificity_diagram.png", class: "image_fit_scrn") %>
  <p>It can be helpful to keep some notes on your phone to jot down ideas for article topics. If you are currently in, or just graduated, high school, think about your daily life and the things that you are struggling with. What excites you? What scares you? What would you love to learn more about?
    Chances are your daily life is made up of experiences similar to those of lots of other teens your age. What you wonder about, what sparks your curiosity, what worries you, what stresses you out, are common experiences and should be drawn upon when thinking of new topics. Keep in mind that any article topic you pitch should fall in one of these categories:</p>

  <div class="categories">
    <% @categories.each do |category| %>
      <p><%= link_to category.name, category, target: "_blank" %></p>
    <% end %>
  </div>

  <p>If you are still struggling to think of new topic ideas and your own life and those of your friends aren't enough inspiration, take a look at this video which explains how you can find topic ideas via <a target="_blank" href="https://www.quora.com/"><b>Quora.com</b></a>. Of course, it isn't necessary to write a response post on Quora (as talked about in the video below), but questions on the platform asked about friendships, high school, self-worth and identity, studying, applying to colleges,
    dealing with parental expectations, mental health in teenage years etc., can be very useful starting points. <a target="_blank" href="https://www.reddit.com/"><b>Reddit.com</b></a> can also be a great source of inspiration for article ideas when used in the same way.</p>

  <h5>How to Always Come Up With Topics to Write About - Tips for Finding Blog Post Ideas:</h5>
  <div class="responsive-iframe-container mb-4">
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/zerxutoKcg0"></iframe>
  </div>

  <h3 id="title-requirements">The title should be shareable and/or searchable</h3>

  <p>A title is shareable if it is interesting and can reasonably spark curiosity and/or some other emotion. Some great examples of shareable titles are "How Dressing Like Blair Waldorf Helped Me Take My SATs," "The Stages of All High School Relationships from an Outsider," "Why You Might Find It Hard to Make Deep Friendships," while vague, non-specific titles such as "Loving Your Body" does not fit this specification. If you are not sure, use the headline analyzer tool found here: <a href="https://aminstitute.com/headline/"><b>https://aminstitute.com/headline/</b></a>. Nine times out of ten, a shareable title should have an Emotional Marketing Value (EMV) score over 30. However, this measure is a tool, not the rule. If the title is only a few words, this headline analyzer is not reliable and the title is likely not interesting enough. Rely on your intuition and common sense in addition to the EMV score. </p>

  <p>
    A title is searchable if it contains keywords/phrases that would be reasonably typed into Google search. These titles are often questions, short responses, lists, etc. The topic should be specific enough that The Teen Magazine can come up in Google search. For example, “Cutest High School Romance Movies That Will Make You Cry” includes the keyword phrase "High School Romance Movies" which is a lot more specific than just “Best Netflix Movies." Using the strategies in the above paragraph can also help increase the liklihood someone on Google will actually click on your article (including "Cutest" and "Will Make You Cry" in the title). When doing this, make sure that the entire title will still show up in Google by using the <a target="_blank" href="https://moz.com/learn/seo/title-tag"><b>Moz SEO Tool</b></a>.
  </p>

  <h3 id="thumbnail-requirements">Thumbnail image requirements</h3>
  <p>
    First and foremost, the thumbnail image should meet The Teen Magazine's <a href="/image-policy" target="_blank">image policy</a>. We take copyright extremely seriously at The Teen Magazine, and failure to follow the image policy will result in your removal from The Teen Magazine.
    If there is anything unclear, it is your responsibilty to message in the Discord <b>#ask-editors</b> chat.
  </p>

  <p>The thumbnail image should also be relevant to the topic, not grainy, not cropped in a weird way, and not contain a mostly white background.</p>

  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle cx="26" cy="26" r="25" fill="none"/>
    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>

  <p>Read "<a href="/writing-the-perfect-article">Writing The Perfect Article</a>" Next →</p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(window).on('scroll',function(){
        $.fn.triggerCheck();
    });
  });
</script>
