<div class="skinny_wrapper topics">
  <h1 id="page_title">Choosing a Topic and Search Analysis</h1>

  <p>You may write an article on anything that fits into a category and is relevant/helpful to our teenage audience.
     If you're not sure what to write about, it is recommended to claim a pitch from our editors <%= link_to "here", pitches_path %>.</p>
  <p>If you start an article not associated with a pitch, you run the risk of your article not being approved because
     it doesn't fit the content published on The Teen Magazine. Go to <%= link_to "Editor Pitches", pitches_path %>.</p>

  <h3 style="margin-bottom:10px;">If you decide to write your own article, here are some ideas for titles:</h3>
  <ol>
    <li> 10 different ways to wear <p class="blank">(clothing item)</p></li>
    <li> <p class="blank">(season)</p> outfits you need to copy</li>
    <li> The Best <p class="blank">(makeup product)</p> You Need To Try This <p class="blank">(season)</p></li>
    <li> Beauty/Fashion Hacks</li>
    <li> 20 signs you are <p class="blank"> (addicted to ____ in love with _____ in need of ____)</p></li>
    <li> <p class="blank">(season/month)</p> must haves under $25</li>
    <li> <p class="blank">(hair, outfit, makeup, etc.)</p> trends you need to try</li>
    <li> 13 of the best products from <p class="blank">(brand)</p></li>
    <li> How To <p class="blank">(make money as a teen, pack for spring break, pick the perfect prom dress etc)</p></li>
    <li> <p class="blank">(holiday/event)</p> must haves/essentials</li>
    <li> <p class="blank">(something)</p> every girl needs to know</li>
    <li> <p class="blank">(something)</p> every <p class="blank">(adjective: ex. busy, on the go)</p> girl needs to know/have</li>
  </ol>

  <p>Please change these titles as much as you want. They are here for inspiration. If you need more ideas about the structure of great articles, visit these websites:</p>

  <ol>
    <li><a target="_blank" href="https://www.society19.com/">Society19.com</a></li>
    <li><a target="_blank" href="http://www.hercampus.com/">HerCampus.com</a></li>
    <li><a target="_blank" href="http://www.seventeen.com/">Seventeen.com</a></li>
    <li><a target="_blank" href="http://www.collegemagazine.com/">CollegeMagazine.com</a></li>
  </ol>

  <p>Remember to <b>never copy anything</b> off of these websites. They are just here to give you an idea of what types of things to write about.</p>

  <h3>Categories:</h3>
  <div class="categories">
    <% @categories.each do |category| %>
      <p><%= link_to category.name, category %></p>
    <% end %>
  </div>

  <p>Bonus: A powerful strategy for choosing what to write about is to search for a broad category you're interested in writing about out of the below categories, then seeing what comes up. If you narrow your search and look at the "suggested" keywords in the search bar, you can get a sense of what people are searching for. If it's unique enough, you could generate lots of traffic through organic searches.</p>

  <p>Read "<a href="/writing-the-perfect-article">Writing The Perfect Article</a>" Next →</p>
</div>
