<div class="skinny_wrapper" style="padding-top: 30px;">
  <h1>Are we breaking up?</h1>
  <h4>You can select below which lists you would like to be removed from.</h4>
  <%= form_for(:pages, url:"/unsubscribed") do |f| %>
    <p>
      <%= f.check_box :newsletter, class: "text_field" %> Weekly newsletter
    </p>
    <p>
      <%= f.check_box :writer, class: "text_field" %> All writer communication
    </p>
    <%= f.submit "Save changes", class: "submit_btn" %>
  <% end %>
</div>
