<div class="skinny_wrapper" style="padding-top: 30px;">
  <h4>Your email preferences have been saved. We're sorry to see you go. If you made a mistake, you can resubscribe <a href="/subscribe">here</a>.</h4>
</div>
