<% @page = "done" %>
<div class="stair_step">
  <span class="progress">&#x25cf;<p>Welcome</p></span>
  <span class="progress">&#x25cf;<p>Your Profile</p></span>
  <span class="progress">◦<p>Next Steps</p></span>
  <div class="hr">
    <hr />
    <hr />
  </div>
</div>
<div class="onboarding_page_container">
  <div id="onboarding_page">
<p>Next steps!</p>
