<h3>Reviewing Articles</h3>
<p>All submitted articles will show up under "Articles Ready for Review" on your Editor Dashboard. When you're ready to review an article, click on "Claim Review" and change the article's status to "In Review." The article will now show up under "Drafts You're Reviewing" on your editor dashboard. </p>
<p>Video tutorial coming soon.</p>
<p><span class="highlight">Use the following criteria to critique the article and determine if it needs to be sent back for changes or can be published. You should be able to answer yes to all of the following requirements for an article to be approved.</span></p>
<div style="border: 3px solid #F0255E; padding: 20px;">
  <p class="mt-0">Copied from <a target="_blank" href="/pitch-requirements">Reviewing Pitches</a> —</p>
  <h3 id="first-question">1. Does the writing reflect the tone and voice of The Teen Magazine?</h3>
  <div class="alert alert-info"><p>Make sure you've read <a href="/pages/content-policy"><b>The Teen Magazine's Content Policy</b></a> before reading further.</p></div>
  <p>
    An article is relevant to The Teen Magazine’s audience if it addresses a topic, experience, and/or problem that is felt by, or of interest to, some or most teens. It is not enough for the article to be of interest to some teens just because the topic has such a broad audience already.
  </p>

  <p>
    If the article is a commentary about a current issue, it must contain some teenage perspective that makes it relevant and interesting to The Teen Magazine's audience. For example, "Stock Market Analysis-Making a Good Investment" is not suitable for The Teen Magazine while "We Do Not Know What Protects Our Liberty and Why You Should Care" is because it specifically addresses the teen reader in the article (saying we need young, teen voters to be informed in the introduction) and in the title (Why You Should Care).
  </p>

  <p>
    Post on Discord in the <b>#editors-chat</b> if you are still unsure about a certain article's relevancy.
  </p>

  <h3 id="second-question">2. Is the title searchable and/or shareable?</h3>

  <p>
    A title is shareable if it is interesting and can reasonably spark curiosity and/or some other emotion. Some great examples of shareable titles are "How Dressing Like Blair Waldorf Helped Me Take My SATs," "The Stages of All High School Relationships from an Outsider," "Why You Might Find It Hard to Make Deep Friendships," while vague, non-specific titles such as "Loving Your Body" should not be approved. If you are not sure, use the headline analyzer tool found here: <a target="_blank" href="https://aminstitute.com/headline/"><b>https://aminstitute.com/headline/</b></a>. Nine times out of ten, a shareable title should have an Emotional Marketing Value (EMV) score over 30. However, this measure is a tool, not the rule. If the title is only a few words, this headline analyzer is not reliable and the title is likely not interesting enough. Rely on your intuition and common sense in addition to the EMV score.
  </p>

  <p>
    A title is searchable if it contains keywords/phrases that would be reasonably typed into Google search. These titles are often questions, short responses, lists, etc. The topic should be specific enough that The Teen Magazine can come up in Google search (ie. “Cutest High School Romance Movies That Will Make You Cry” instead of “Best Netflix Movies”). See Pitching New Articles for more info on searchable titles.
  </p>

  <p>
    Remember that a title only needs to fit one of the above categories to be approved.
  </p>

  <h3 id="third-question">3. Does the thumbnail image fit the criteria?</h3>

  <p>The thumbnail image should be relevant to the topic, not grainy, not cropped in a weird way, and not contain a mostly white background.</p>
</div>
<p class="mt-4">Additional criteria for published articles —</p>

<h3 id="fourth-question">4. Is the main point of the article clear in the introduction?</h3>
<p>
  On average, the amount of time a writer has to keep a reader around is 3-5 seconds. The graphic below shows how the attention span of the average internet-user has decreased dramatically in the past couple decades.
</p>
<div style="border: 3px solid yellow;">
  <%= image_tag("attention.png", class: "image_fit_scrn") %>
</div>
<p>The introduction to every article should be written clearly and in a way that does not leave you wondering what the point of the article is, what the article will cover, to whom this article will be useful to, and why you should care.</p>
<p>One way to do this is by having all of the following:</p>
<ul>
  <li>An interesting hook that directly addresses the target reader and/or a common problem.</li>
  <li>1-3 paragraphs establishing the Who, What, When, Where, Why, How.</li>
  <li>A sentence summarizing the main point of the article.</li>
</ul>
<p>The below image is an example of a great introduction from  <a target="_blank" href="https://www.theteenmagazine.com/this-positive-affirmation-playlist-makes-me-crush-my-goals-every-time-i-run">this article</a>. It succeeds in keeping the reader interested through an interesting hook and establishing a clear direction for the article that is <i>in line with the title</i> within the first few paragraphs.</p>
<div style="border: 3px solid yellow;" class="mb-4">
  <%= image_tag("introduction.png", class: "image_fit_scrn") %>
</div>
<p>Remember that any grammatical mistakes, unclear wording, and/or too much irrelevant information will cause the reader to click away. Additionally, if the introduction is not what the reader had expected based off of the title, the reader will also click away. The introduction is one of the most important parts of the article and should be scrutinized during the editing process. If the introduction doesn't meet these requirements, mark "Introduction needs to be improved" on the editor form, and send the article back for changes.</p>
<h3 id="fifth-question">5. Does the writer provide a unique perspective and/or information?</h3>
<p>If there are a million other articles covering the same top 5 tips, that's a problem. Encourage the writer to dive deeper into the topic and provide their own experience, interview friends/professionals, use more humor, etc. to add to the journalistic conversation.</p>

<h3 id="sixth-question">6. Does the most important information <b><i>jump out of the page</i></b>?</h3>

<p>An article should never be just a wall of text. Making it easy to read can be done through the use of small paragraphs, quotes, images, headers, bolded text, highlighted text, italics, etc.. Please note that all headers (besides subtopics) should be Header 2. Additionally, mark this feedback field if an article has too few images for the topic.</p>

<h3 id="seventh-question">7. Is the article <b><i>entirely</i></b> free from grammar and spelling mistakes?</h3>

<p>Every article you publish should first be read in detail to fix grammatical mistakes. It is extremely important to never publish an article with grammatical errors. As an editor, this is your most important responsibility. Watch the video below and memorize the most common forms of grammar mistakes that are often missed.</p>

<div class="responsive-iframe-container mb-4">
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/VB8u_K0I-a8"></iframe>
</div>
<p>You may change around wording to fix many of these grammar mistakes if the writer has given permission, but if this process would take you more than 20 minutes, simply mark the box for "Grammar, punctuation, and/or spelling mistakes" on the editor form, write in the Notes section the types of errors, and change the article status to "Rejected."</p>

<p>As a side note, exclamation points should be used sparingly. Replace every exclamation mark with a period unless there is a very strong reason to leave it in.</p>

<h3 id="eighth-question">8. Is the article in-depth enough for this topic?</h3>
<p>
  Finally, determine whether or not this article is detailed enough for the topic. For example, list articles often should be longer (ie. giving 15+ examples rather than 5), however if the writer went in depth with each one, it's okay that the article only has 5 examples.
</p>
<p>As a rule of thumb, an article should be around 1000 words on <a target="_blank" href="https://wordcounter.net/">https://wordcounter.net/</a> but this is not set in stone. Use your judgement to determine if the average reader will be satisfied given the information. What could the writer still expand upon? If the answer to this question is important to the topic, mark "Article is too short" and explain why in the Notes field.</p>

<h3 id="ninth-question">9. Are all images given proper attribution and are taken from ok sites as explained in the <a target="_blank" href="/pages/image-policy"><b>Image Policy</b></a>?</h3>

<p>All images should follow the <a target="_blank" href="/pages/image-policy"><b>Image Policy</b></a>.</p>

<p>If you've reached the end of this list and answered "yes" to all of the questions, you may publish the article on The Teen Magazine.</p>
