<h3>Reviewing Pitches</h3>

<p>
  All newly pitched articles should be evaluated carefully before approving. The pitch must meet ALL the criteria as outlined below to be accepted.
  <b>Remember: rejecting a topic before the article is written is always better than rejecting an already-written article because the topic did not fit The Teen Magazine's audience.</b>
</p>

<p>To review a pitch, go to your Editor Dashboard. Submitted pitches will show up under "New Pitched Articles." Click on "Review Pitch" to see the pitch's Editor Form. Follow this guide to determine whether to approve or reject a pitch.</p>

<p><span class="highlight">While reviewing a pitch, you should consider the three questions below. If you answer no to at least one, you should reject the pitch and mark the reason(s) why.</span></p>

<h3 id="first-question">1. Is the writer's argument for why this topic is relevant for The Teen Magazine's audience convincing?</h3>

<p>
  An article is relevant to The Teen Magazine’s audience if it addresses a topic, experience, and/or problem that is felt by, or of interest to, some or most teens. It is not enough for the article to be of interest to some teens just because the topic has such a broad audience already. </p>
<p>
  If the article is a commentary about a current issue, it must contain some teenage perspective that makes it relevant and interesting to The Teen Magazine's audience. For example, "Stock Market Analysis-Making a Good Investment" is not suitable for The Teen Magazine while "We Do Not Know What Protects Our Liberty and Why You Should Care" is because it specifically addresses the teen reader in the article (saying <i>we need young, teen voters to be informed</i> in the introduction) and in the title (Why <i>You</i> Should Care).
</p>

<p>Email Mia at mia@theteenmagazine.com if you are still unsure about a certain pitch's relevancy.</p>

<h3 id="second-question">2. Is the title shareable and/or searchable?</h3>

<p>A title is shareable if it is interesting and can reasonably spark curiosity and/or some other emotion. Some great examples of shareable titles are "How Dressing Like Blair Waldorf Helped Me Take My SATs," "The Stages of All High School Relationships from an Outsider," "Why You Might Find It Hard to Make Deep Friendships," while vague, non-specific titles such as "Loving Your Body" should not be approved. If you are not sure, use the headline analyzer tool found here: <a href="https://aminstitute.com/headline/"><b>https://aminstitute.com/headline/</b></a>. Nine times out of ten, a shareable title should have an Emotional Marketing Value (EMV) score over 30. However, this measure is a tool, not the rule. If the title is only a few words, this headline analyzer is not reliable and the title is likely not interesting enough. Rely on your intuition and common sense in addition to the EMV score. </p>

<p>
  A title is searchable if it contains keywords/phrases that would be reasonably typed into Google search. These titles are often questions, short responses, lists, etc. The topic should be specific enough that The Teen Magazine can come up in Google search (ie. “Cutest High School Romance Movies That Will Make You Cry” instead of “Best Netflix Movies”). See <a target="_blank" href="/pitching-new-articles#Searchable">Pitching New Articles</a> for more info on searchable titles.
</p>

<p>Remember that a title only needs to fit one of the above categories to be approved.</p>

<h3 id="third-question">3. Does the image thumbnail fit this topic well and is it good quality?</h3>

<p>The thumbnail image should be relevant to the topic, not grainy, not cropped in a weird way, and not contain a mostly white background.</p>

<p><b>If you answered yes to all three of these questions</b>, you may choose "Approved" from the dropdown menu and save (shown below).</p>

<%= image_tag("pitch_review_form.png", class: "image_fit_scrn") %>

<p><b>If you answered no to at least one of the questions</b>, select "Rejected," and mark the reason(s) why. Give further information about the decision in the comment box below. If you are unsure, either let another editor review this pitch or contact mia@theteenmagazine.com to ask a clarifying question about the pitch requirements.</p>

<%= image_tag("pitch_reject.png", class: "image_fit_scrn") %>

<p>Note: Do not accept articles that only submit short stories or poems since we do not publish creative pieces.</p>
