<% if @post.is_published? %>
  <%= render "posts/published" %>
<% else %>
  <%= render "posts/draft" %>
<% end %>
<div class="">

</div>
<%= render_async_cache get_promoted_posts_path, retry_count: 3 %>
