@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("RobotoCondensed-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto Condensed Light";
  src: url("RobotoCondensed-LightItalic.ttf");
}

@font-face {
  font-family: justwaitandsee;
  src: url("MORVA.otf");
}

@font-face {
  font-family: "Kristi";
  src: url("Hidden meanings.ttf");
}

* {
  box-sizing: border-box;
}

#mce-responses-container {
  * {
    padding: 0 !important;
    margin: 0 !important;
  }
}

iframe {
  min-width: 300px !important;
}

.submit_btn:hover {
  cursor: pointer;
}

.image_fit_scrn {
  display: block;
  max-width: 100%;
}

.ads_wrapper {
  background-color: #F3F3F3;
  z-index: 600000;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  ins, iframe {
    margin: 0 auto !important;
    display: block !important;
  }
}

.underline {
  text-decoration: underline;
}

.theme_color {
  color: #65B19D !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
  word-break: break-word;
}

.border {
  border: none !important;
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
  border-top: 1px solid rgba(0,0,0,0.1) !important;
  margin-top: 0 !important;
}

#banner_writing {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

html, body {
   height: 100%;
    width: 100%;
}

.showContent {
  visibility:visible;
}

.logo {
  width: 700px;
}

.icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
}

.skinny_wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.index_users #post_title {
  margin: 0px;
}

#apply_image {
  background-image: url(writer.jpg);
  background-size: cover;
  background-position: center center;
  height: 0;
  padding-top: 20%;
}

.date_post_preview {
  font-size: 20px !important;
  font-style: italic;
  color: #C0C0C0 !important;
}

/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
#site-wrapper {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#site-canvas, #site-menu {
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: .2s ease all;
  transition: .2s ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav {
  overflow: hidden;
  #site-canvas, #site-menu {
    -webkit-transform: translateX(320px);
    transform: translateX(320px);

    -webkit-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
    height: 100%;
  }
}

.show-nav #navigation_overlay {
  visibility: visible;
  opacity: 0.75;
  height: 100%;
}

#navigation_overlay {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  height: 0;
  z-index: 5002;
  opacity:0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

#site-menu {
  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  background: white;
  padding: 25px;
  z-index: 5003;
  a, h2 {
    width: fit-content;
  }
  a {
    text-decoration: none;
    display: block;
    line-height: 38px;
    font-size: 18px;
    font-family: 'Playfair Display';
    color: black;
  }
  h2 {
    margin: 0;
    a {
      font-family: "justwaitandsee";
      font-size: 50px;
      padding: 0;
      line-height: 1;
    }
  }
  .toggle-nav-x {
    color: black;
    font-size: 20px;
    float: right;
    line-height: 33px;
    &:hover {
      cursor: pointer;
    }
  }
}

.whats-new, .comments {
  a, div {
    display: inline !important;
  }
  .profile_img_small {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
  }
  .list-group-item {
    font-size: 12px;
    display: flex !important;
    flex-direction: row;
    border: none;
  }
  div {
    padding-left: 10px;
    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.pagination {
  justify-content: center;
  em, a, span {
    padding: 0 10px 20px 0;
    text-decoration: none;
  }
  a {
    color: #65B19D !important;
  }
}

hr {
  margin: 0.3em auto;
  margin-left: auto;
  margin-right: auto;
}

///////////////////////////////////////////////////////////////////////////
.link_white {
  color: white;
  font-weight: bolder;
  font-family: "Playfair Display";
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.divfeatured {
  width: 70%;
}

.visible {
  visibility: visible !important;
}

.parentflex {
  .featured_img {
    margin-bottom: 10px;
    position:relative;
    max-height: 600px;
    width: 100%;
    overflow:hidden;
  }

  .article_title {
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    font-family: "Playfair Display";
    a {
      text-decoration: none;
      color: #191919;
      font-size: 34px;
      font-weight: 400;
    }
  }
  .date {
    color: #545454;
    font-size: 12px;
    margin-top: 3px;
  }
}

.individual {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  text-overflow: ellipsis;

  img {
    width: 100%;
  }

  .article_title {
    width: 100%;
  }
}

.wrapper_home {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.articles2-6 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  .thumbnail {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    .thumbnail--container {
      margin-left: 10px;
      .article_title {
        font-family: "Playfair Display";
        margin: 0;
        font-weight: 400;
        line-height: 70%;
        a {
          text-decoration: none;
          color: #191919;
          font-size: 20px;
        }
      }
      .date {
        font-size: 12px;
        margin: 4px 0 0 0;
        color: #545454;
      }
    }

  }
  .image_thumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
}

.notice, .alert {
  text-align: center;
  padding: 0.9em 0;
  border-bottom: 1px solid #E9E9E9;
  color: #212529;
  background-color: #C5B7B820;
  margin: 0;
}

#main_title {
  font-family: "justwaitandsee";
  font-size: 80px;
  text-align: left;
  margin-bottom: -2px;
  margin-left: 80px;
  max-height: 120px;
  a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
  }
}

.section--title {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-family: 'Vollkorn', serif;
  a {
    color: black;
    text-decoration: none;
  }
}

.form_wrapper {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.signupdiv {
  width: 300px;
  margin-left: 30px;
  float: right;
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    .exclusive-offer {
      height: 210px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://i.ibb.co/JsS5zrC/subscribe.png");
      background-position: center;
      margin-bottom: -10px;

      #exclusive-title--id {
        margin-top: 45px;
        padding: 10px;
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 20px;
      }
      .exclusive-title {
        color: white;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

#mc_embed_signup {
  margin-top: 0 !important;
  .flex--email {
    margin: 10px 0;
  }
  .mce_inline_error {
    padding-left: 0 !important;
    margin: 0 !important;
  }
  .mccontainer div {
    color: white !important;
    background-color: transparent !important;
  }
}

#mce-EMAIL {
  margin: 0;
  height: 35px;
  font-size: 15px !important;
}

#mc_embed_signup_scroll {
  font-size: 15px;
  .mc-field-group {
    width: 100% !important;
    padding: 0 !important;
    min-height: 35px !important;
    .clear {
      input {
        width: fit-content !important;
        padding: 0 22px !important;
      }
    }
  }
  #mce-error-response, #mce-success-response {
    margin-top: 10px;
  }
  #mc-embedded-subscribe {
    line-height: normal !important;
    background-color: #191919 !important;
    height: 35px;
    margin: 15px 0;
  }
}

.parentflex {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  .flexbox {
    display: inline-flex;
    max-width: 900px;
    flex-shrink: 2;
    flex-grow: 2;
    justify-content: center;
  }
}

body {
  form {
    padding: 0;
    width: 100%;
  }
}

.banner_stts {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #FF78CB;
  font-size: 17px;
  padding: 2px;
  margin: 0 0 20px 0;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.flex_column {
  flex-direction: column !important;
}

.post_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;

  .left_side_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .4em 0 .4em 0;
    p {
      margin: 0;
      margin-top: 8px;
      color: #333;
    }
  }

  .right_side_wrapper {
    text-align: right;
    .date_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      p {
        margin: 0.7em 0 0.5em 0;
      }
    }
  }

  .right_side_flex {
    display: flex;
    flex-direction: row;
    min-width: 340px;
    justify-content:flex-end;
    align-items: center;
    .social_icons {
      margin: 0.5em;
      margin-right: 0;
      margin-left: 10px;
    }
    .date_wrapper {
      margin: 0;
    }
  }

  img {
    margin-right: 5px;
    min-width: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
  }

  .fa-clock-o {
    margin-right: 3px;
    margin-top: 0px;
    color: #333 !important;
  }

  .social_icons {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    min-width: 175px;
    justify-content: space-between;
  }

  a {
    color: #333;
    text-align: center;
    text-decoration: none;

    div {
      height: 40px;
      width: 40px;
      background-color: #3b5998;
    }
  }

  i {
    color: white;
    margin-top: 12px;
  }

  .date {
    font-size: 1rem;
    font-family: "Playfair Display";
    white-space: nowrap;
  }
  .author {
    margin: 3px 0;
  }
  .author_name {
    text-transform: uppercase;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
    display: inline;
  }
}

footer {
  background-color: #191919;
  color: white !important;
  .title-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px -10px 20px 0;
    .social-media-footer, h1 {
      display: inline;
      margin: 0;
      .link {
        display: inline !important;
        padding: 10px;
      }
    }
  }
  h1 a {
    font-family: "justwaitandsee", "serif";
    font-size: 1em;
    display: inline;
  }
  a, span {
    color: white !important;
    text-decoration: none !important;
    font-size: 12px;
  }
  .social-media-footer {
    .fa {
      margin: 12px 0 0 0;
      font-size: 22px;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    div {
      width: fit-content;
      padding: 0 20px;
    }
  }
  .footer-copyright {
    padding-left: 20px;
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;
  font-size: 22px !important;
  align-items: center;
  a {
    height: fit-content;
    .fa {
      margin: 0 7px;
    }
  }
}

#main_navigation {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  #banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    #name_wrapper {
      display: block;
      #name {
        max-height: 83px;
        margin: 0 auto;
        display: block;
      }
    }
    .social-media, .fa-bars, #name_wrapper {
      flex-grow: 1;
      flex-basis: 0;
    }
    .fa-bars:hover {
      cursor: pointer;
    }
    .fa {
      font-size: 20px;
    }
    .fa-twitter {
      color: #00aced;
    }
    .fa-instagram {
      color: #3f729b;
    }
    .fa-pinterest {
      color: #cb2027;
    }
    .fa-facebook-official {
      color: #3b5998;
    }
  }

  .nav-title {
    font-family: 'justwaitandsee';
    font-size: 1.4rem;
    font-style: italic;
    color: #65B19D;
  }

  nav {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 54px;
    margin-left: auto;
    margin-right: auto;

    .link {
      margin: 2px 0 0 1.2rem;
    }

    a {
      font-family: 'Univers-CnUlt', Arial, Sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
      line-height: 1;
      font-size: 0.8rem;
      font-weight: bolder;
      padding-top: 20px;
      color: black;
      text-decoration: none;
      color: 1;
      -webkit-transition: color 0.4s ease-out;
      -moz-transition: color 0.4s ease-out;
      -o-transition: color .4s ease-out;
      transition: color .4s ease-out;
      &:hover {
        color: #2B6860;
      }
    }
  }
}

#page_title {
  text-align: center;
  border-bottom: 1px solid #E9E9E9;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid #E9E9E9;
  padding: 0.7em;
  outline: none;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"] {
  outline: none;
  background: transparent;
  border: 2px solid #E9E9E9;
  text-align: center;
  font-size: 1em;
  color: #424653;
  text-decoration: none;
  padding: 1em 2em;
  margin-bottom: 2em;
  &:hover {
    border: 2px solid #65B19D;
    color: #65B19D;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol {
  margin: 0.8em 0;
}

//banner padding
.bodywrapper {
  padding-top: 30px;
}

@media (max-width: 651px) {
  .bodywrapper {
  padding-top: 60px;
}
}

@media (max-width: 1030px) {
  .flex_wrapper_columns {
    flex-direction: column !important;
    .share_article_feedback {
      margin-top: 30px !important;
    }
    .content_wrapper {
      max-width: inherit;
      .left_side_flex {
        max-width: 550px;
      }
    }
    .post_apply {
      padding: 0px !important;
      .ads_wrapper {
        margin: 0 -10% !important;
        background-color: transparent;
        iframe {
          max-width: 100%;
          display: block;
          margin: 0 auto !important;
        }
      }
      h3 {
        margin-top: 20px;
      }
      h3, .contain_articles {
        padding: 0 20px !important;
      }
    }
    .post_apply, .share_article_feedback {
      margin: 0;
      padding: 0 40px;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }
}

@media (max-width: 1000px) {
  .parentflex {
    flex-direction: column;
    .flexbox {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .parentflex {
    flex-direction: column;
  }
  .divfeatured {
    width: 50%;
    .individual {
      width: 100%;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
      }

      .article_title {
        margin: 0 auto;
      }
    }
  }

  .signupdiv {
    width: 100%;
    margin: 0;
    .container {
      background-color: #66B39F;
      max-width: 100%;
      height: fit-content;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .exclusive-offer {
        width: 50%;
        background-image: url();
        margin-right: 10px;
        height: auto;
        .exclusive-title, #exclusive-title--id {
          margin: 0 auto;
          width: fit-content;
        }
      }
      .signup {
        width: 50%;
        color: white !important;
        max-width: 400px;
        margin: 0 auto;
        #mc_embed_signup_scroll {
          h2 {
            display: none;
          }
          .flex--email {
            display: flex;
            flex-direction: row;
            justify-content: center;
            #mc-embedded-subscribe {
              margin: 0 5px !important;
              height: 35px !important;
              font-size: 15px !important;
            }
          }
          #mce-responses-container {
            * {
              color: white !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 954px) {
  .social {
    display: none;
  }
}

@media (max-width: 700px) {
  .signupdiv {
    .container {
      flex-direction: column;
      .exclusive-offer, .signup {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  body {
    .parentflex {
      width: 100%;
      margin: 0;
      .divfeatured {
        margin-bottom: 15px;
        .article_title, .date {
          margin: 0 auto;
          padding: 0px 15px;
          width: 100%;
        }
      }
      .flexbox {
        flex-direction: column;
      }
    }
  }

  #site-menu {
    .toggle-nav-x {
      line-height: normal;
      margin-top: -5px;
    }
  }

  .articles2-6, .wrapper_home, #banner {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    .thumbnail {
      margin-bottom: 15px;
    }
  }

  #main_navigation {
    background-image: none;
    margin: 0;
    nav {
      display: none;
    }
    .nav_article {
      display: flex;
    }
  }

  footer {
    .title-footer {
      flex-direction: column;
      text-align: center;
      margin-right: 0;
      .social-media-footer {
        margin-top: 20px;
      }
    }
    .row {
      flex-direction: column;
      div {
        margin: 20px auto;
        text-align: center;
      }
    }
    .footer-copyright {
      text-align: center;
      padding: 0;
    }
  }

  .featured {
    display: block;
    width: 100%;
    .featured_img {
      max-height: 100%;
      .image_thumbnail {
        width: 100%;
      }
    }
  }

  #main_title {
    font-size: 35px;
    min-height: 50px;
  }
}

@media (max-width: 990px) {
  #main_navigation {
    .social {
      display: none;
    }
  }
}

.date_ago {
  color: #A6A09E;
}
