.box {
  position:relative;
  vertical-align: middle;
  color: $highlight;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 10px;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.editor_status {
  color: #333;
  font-family: 'Kristi';
  font-size: 18px !important;
  margin: 0;
  text-transform: uppercase;
}

.thelink {
  margin-right: 2px;
  margin-left: 2px;
}

.box:hover {
  color: $highlight;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 6px solid $highlight;
  border-left: 6px solid $highlight;
  -webkit-transform-origin: 0 100%;
}

.foo::after {
  border-top: 6px solid $highlight;
  border-right: 6px solid $highlight;
  -webkit-transform-origin: 100% 0%;
}


.bar::before {
  border-bottom: 6px solid $highlight;
  border-left: 6px solid $highlight;
  -webkit-transform-origin: 100% 0%;
}

.bar::after {
  border-top: 6px solid $highlight;
  border-right: 6px solid $highlight;
  -webkit-transform-origin: 0% 100%;
}

.curmudgeon::before {
  border-bottom: 6px solid $highlight;
  border-left: 0;
  -webkit-transform-origin: 0% 100%;
}

.curmudgeon::after {
  border-top: 0;
  border-right: 0;
  -webkit-transform-origin: 50% 50%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

.guidelines {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: -2px;
  margin-left: -4px;
  .thelink {
    width: 100%;
  }
  a {
    text-decoration: none;
    width: 100%;
  }
  .box {
    height: 200px;
    margin-right: 2px;
    margin-left: 2px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Vollkorn', serif;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    transition: color 0.25s;

    p {
      line-height: 100%;
      margin: 0;
      padding: 5px;
      font-size: 30px;
      -webkit-text-stroke: 1px black;
    }
  }
  .G1 {
    background-image: url("topic.jpeg");
  }
  .G2 {
    background-image: url("scarf.jpeg");
  }
  .G3 {
    background-image: url("writing.jpg");
  }
  .G4 {
    background-image: url("glasses.jpeg");
  }
  .G5 {
    background-image: url("photo.jpeg");
  }
}

.impressions {
  text-align: center;

}

.profile_img {
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.newpost--profile {
  color: white;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  width: 150px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  float: right;
}

#background {
  background-color:#d3d3d3;
  padding: 7px;
  max-width: 800px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right top,
      transparent 33%,
      #E8E8EE 33%,
      #E8E8EE 66%,
      transparent 66%
  );
  background-size: 5px 5px;
	background-position: 0 0, 15px 15px;
}

.flex--profile {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;

  .info {
    margin-left: 20px;

    .description_user {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    h2, a {
      margin: 0;
      font-size: 30px;
      text-decoration: none;
      color: $highlight;
      font-family: 'Vollkorn', serif;
    }

    p {
      font-size: 13px;
    }

    .website {
      margin-bottom: 0;
      .website_link {
        display: inline-block;
      }
      a, p {
        color: $highlight;
        margin: 0 !important;
        span {
          color: black;
        }
      }
    }
  }
}

.edit_user {
  margin-bottom: 30px;
}

.flex--p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .editlink--profile {
    margin-top: 10px;
    width: 150px;
    text-align: center;

    a {
      color: #bdbdbd;
      text-decoration: none;
    }
  }
  p {
    margin-top: 10px;
    color: #bdbdbd;
    margin-bottom: 0;
  }
}

.flex--postlist--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .inside--item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
      vertical-align: middle;
      line-height: 30px;
      margin-left: 10px;
    }
  }


  #post-title {
    margin: 0;
    a {
      font-size: 20px;
      color: #545454;
      text-decoration: none;
      &:hover {
        color: $highlight;
      }
    }
  }

  #date {
    float: right;
    font-size: 20px;
    font-family: "pacifico";
    color: #545454;
    margin: 0;
  }
}

.flex--ranking {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 5px;
  #page_title {
    width: 30%;
    padding: 36px 0px 0px 0px;
    margin-top: 0px;
    text-align: left;
    border-bottom: none;
    font-size: 18px;
    margin-bottom: 5px;
  }
  div {
    width: 70%;
    margin-bottom: 5px;
    p {
      padding-top: 30px;
      text-align: right;
    }
    #page_title  {
      text-align: right !important;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.user {
  text-align: center;
  a {
    text-decoration: none;
    color: #00b5f9;
    font-size: 20px;
    &:hover {
      color: #3f3f3f;
    }
  }
}

.link--edit {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding: 20px;
  display: block;
  width: 200px;
  text-align: center;
  color: white;
}

.delete {
  text-decoration: none;
  color: black;
  margin-top: 30px;
  float: right;
  margin-bottom: 20px;
  &:hover{
    color: red;
  }
}

.team {
  .about {
    max-width: 1100px;
    margin: 0 auto;
    min-height: 350px;
    p {
      padding: 30px;
    }
    #main {
      width: 260px;
      height: auto;
      float: left;
      margin: 30px;
    }
  }
  h3 {
    color: $highlight;
  }
  .flex--profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .featured {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      h6 {
        margin: 20px;
      }
    }
  }
}

@media (max-width: 900px) {
  .guidelines {
    flex-wrap: wrap;
    margin: 0;
    margin-top: 50px;
    .thelink {
      width: 50%;
      margin: 0;
      .box {
        margin: 0;
      }
    }
  }
}


@media (max-width: 600px) {
  .flex--profile {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    .info {
      margin-left: 0;
      p {
        font-size: 13px !important;
      }
    }
    .profile_img  {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  }

  .website_link  {
    font-size: 13px;
    margin: 0 auto;
    max-width: 210px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  .website_link span {
    display: none;
  }
  .guidelines {
    .thelink {
      width: 100%;
    }
  }
}
