$gray:  #2a2a2a;

.col-1, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.col-2 {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;

  .thumbnail {
    overflow: hidden;
    width: 30%;
    margin-bottom: -20px;
    margin: 5px;
    &:hover {
      .article_title {
        background-color: transparentize($gray, 0.2);
      }
    }
  }
    .image_thumbnail {
      width: 100%;
      height: 200px;
      object-fit: cover;
      z-index: 1;
      position: relative;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    .article_title {
      margin-top: -20px;
      z-index: 5;
      position: relative;
      padding: 20px;
      background-color: transparentize($gray, 0.4);
      width: 100%;
      overflow: hidden;
      height: 100px;
      a {
        color: white;
      }
    }
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .2rem;
    margin-top: 5px;
  }
  a {
    text-decoration: none;
  }
  .date {
    font-size: .5em;
    color: $light;
    margin-left: 4px;
  }
  p {
    margin: 0 0 .75em 0;
  }
}

@media (max-width: 500px) {
  body {
    .col-2 {
      .thumbnail {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;

        .article_title {
          height: 60px;
          overflow: hidden;
          white-space: nowrap;
          color: white;
          text-overflow: ellipsis;
          a {
            width: 50px;
          }
        }

        .date {
          display: none;
        }
      }
    }
  }

}
