$gray:  #2a2a2a;

.welcome {
  img {
    opacity: 1;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
  }
  img:hover {
    opacity: 0.7;
  }
  a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
  a:hover {
    color: #979797 !important;
  }
  .section--title, .paragraph
    a:hover {
    color: #333 !important;
  }
}

.ng-hide {
  display: none !important;
}

.col-1, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  .col-2 {
    margin-left: -2px;
    margin-right: -2px;
    display: flex;
    height: 220px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 5px;

    .older {
      margin-right: 2px;
      margin-left: 2px;
      width: 150px;
      height: 230px;
      overflow: hidden;
    }
      .image_thumbnail {
        width: 100%;
        height: 100px;
        object-fit: cover;
        z-index: 1;
        position: relative;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      .article_title {
        z-index: 5;
        position: relative;
        width: 100%;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        a {
          color: #191919;
          font-family: 'Univers-CnUlt', Arial, Sans-serif;
          letter-spacing: 0.05rem;
          line-height: 1;
          font-size: 0.9rem;
          text-decoration: none;
          font-weight: 600;
          font-style: italic;
        }
      }
  }
}

.newest {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;

  .image_thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  a {
    width: 100%;
  }
  .container {
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    .article_title {
      margin: 0;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 30px;
      a {
        color: #65B19D;
        text-decoration: none;
      }
    }
    .date {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
  }

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .2rem;
    margin-top: 5px;
  }
  a {
    text-decoration: none;
  }
  .date {
    font-size: .5em;
    color: #3f3f3f;
  }
  p {
    margin: 0 0 .75em 0;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.other--articles {
  margin-left: auto;
  margin-right: auto;

  .container {
    width: 80%;
  }

  .thumbnail {
    display: flex;
    flex-direction: row;
    align-items: center;

    .container--image {
      width: 40%;
      .image_thumbnail {
        object-fit: cover;
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .thumbnail--container {
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      width: 60%;
    }
    .article_title {
      font-family: "Roboto Condensed";
      margin: 0;
      text-align: center;
      padding: 10px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      a {
        color: #65B19D;
        text-decoration: none;
        &:hover {
          opacity: .55;
        }
      }
    }
    p {
      text-align: center;
      margin: 0;
      font-style: italic;
      font-family: "Display Playfair";
    }
    hr {
      border-color: black;
    }

  }
}

@media (max-width: 1200px) {
   .flex_wrapper_content {
     flex-direction: column;
     .post_apply {
       flex-direction: row-reverse;
       flex-grow: 1;
       max-width: 100%;
       padding: 0;
       h3 {
         margin-top: 0;
         font-size: 40px;
       }
       #apply_link {
         max-height: 231px;
       }
       #apply_link {
         margin-top: 55px;
         #apply_image {
           min-width: 300px;
         }
       }
       .articles {
         margin-right: 30px;
         .contain_articles {
           padding: 0 10px;
           img {
             width: 200px;
             height: auto;
           }
           p {
             font-size: 20px;
             line-height: 25px;
             margin: 0px 10px;
             font-family: "Playfair Display";
           }
         }
       }
     }
   }
   .skinny {
     margin-left: 20px;
     margin-right: 20px;
     #post_title_show {
       h1 {
         font-size: 45px;
       }
     }
   }
   .share_article_feedback {
     padding: 0;
     max-width: 100%;
   }
}

@media(max-width: 800px) {
  #mce-EMAIL, .mccontainer label {
    min-width: 75% !important;
    max-width: 75% !important;
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .post_apply {
    flex-direction: column-reverse !important;
    h3 {
      font-size: 30px !important;
    }
    .articles {
      margin: 0 !important;
    }
    #apply_link {
      width: 100% !important;
      margin: 20px 0 !important;
      max-height: 100% !important;
      a {
        display:block;
        margin: auto;
        max-width: 480px;
      }
    }
  }
}

@media (max-width: 550px) {
  .contain_articles {
    padding: 0 !important;
    img {
      width: 130px !important;
    }
    p {
      font-size: 18px !important;
      line-height: 19px !important;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 1080px) {
  .nav-title {
    display: none;
  }
  .nav_article {
    .link {
      margin-left: 0.8em !important;
    }
  }
}

@media (max-width: 980px) {
  .other--articles {
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .post_info {
    flex-direction: column !important;
    .social_icons {
      margin-bottom: 15px;
      justify-content: space-between;
      a {
        width: 24%;
        margin-left: 0px;
        div {
          width: 100%;
        }
      }
    }
  }
  .button {
    height: 30px !important;
    padding: 0;
    width: 60px;
    font-size: 12px !important;
  }
  .parentflex {
    width: 100%;
    margin-top: -5px;
    .divfeatured {
      margin-bottom: 10px;
    }
  }
  .newest {
    width: 100%;
  }
  .oldest {
    width: 100%;
  }
  .other--articles {
    width: 100%;
    .thumbnail {
      flex-direction: column;
      margin-bottom: 50px;
      .container--image {
        width: 100%;
        .image_thumbnail {
          height: 260px;
          width: 100%;
          margin-bottom: 5px;
        }
      }
      .thumbnail--container {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        .article_title {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    .col-2 {
      .older {
        width: 200px;
        height: 300px;
        overflow: hidden;
      }
      .thumbnail {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;

        .article_title {
          height: 60px;
          overflow: hidden;
          white-space: nowrap;
          color: white;

          a {
            width: 50px;
          }
        }

        .date {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .banner_fundraiser {
    .container_fundraiser {
      justify-content: center;
      .background_stats {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .link {
    display: none;
  }
  .banner_fundraiser {
    height: 80px;

    .container_fundraiser {
      max-height: 80px;
      .nbfr_donate_container {
        display: flex;
        flex-direction: row;
        margin: 0;
        div {
          margin-top: 40px;
          h1 {
            font-family: "Playfair Display";
            font-size: 20px;
            margin: 0;
            color: white;
            text-shadow: 2px 2px black;
          }
        }
        .green_button {
          margin-top: 30px;
          padding: 10px;
          h1 {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: 435px) {
  .post_info {
    p {
      font-size: 14px !important;
    }
    font-size: 14px !important;

    img {
      display: none;
    }
  }
}
