@import "mdbootstrap/css/bootstrap.min";
@import "mdbootstrap/css/mdb.min";
@import "mdbootstrap/css/mdb.lite.min";
@import "normalize";
@import "common";
@import "userprofile";
@import "pages";
@import "posts_projects";
@import "welcome";
@import "category";
@import "newlayout";
@import "used_bootstrap";
@import "mdbootstrap/scss/core/colors";
@import "mdbootstrap/scss/core/variables";
@import "mdbootstrap/scss/pro/variables";
@import "mdbootstrap/scss/pro/chips";
#apply_description {
    min-height: 200px;
}

.badge-default {
    background-color: #2bbbad !important;
    padding: 0.25em 0.4em !important;
}

@media (max-width: 1080px) {
    .nav-title {
        display: none;
    }
    .nav_article {
        .link {
            margin-left: 0.8em !important;
        }
    }
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}