// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-links .list-group-item {
  padding: 14px 10px;
  a {
    font-size: 16px;
    text-decoration: underline;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .link_light {
    opacity: 0.5;
  }
}

.bottom-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
}

.category-dashboard-card {
  &:hover {
    opacity: 100% !important;
  }
  .value,
  span {
    color: black !important;
  }
  .description {
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
  }
  .stats_wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: 590px) {
  .chart-card {
    width: 100% !important;
  }
}
