@import "common";
@import 'normalize';
@import 'welcome';
@import "category";
@import "userprofile";

#banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.welcome_hero {
  width: 100%;
}

.img_profile_example {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.number_wrapper {
  height: 30px;
  margin-bottom: 8px;
  .img_number {
    height: 100%;
    padding: 2px 5px 2px 0px;
    display: inline-block;
    vertical-align: middle;
  }
}

.social {
  input {
    padding-left: 25px;
  }
}

.add_link {
  display: flex;
  flex-direction: row;
  input {
    margin: 10px 0px 10px 5px;
  }
  span {
    position: absolute;
    color: #b0b0b0;
    margin-top: 24px;
    margin-left: 15px;
  }
}

.add_margin_left {
  margin-left: 31px;
}

a {
  color: #65B19D;
}

h5, h3 {
  margin: 20px 0;
}

.node {
  text-decoration: none;
}

.new--writer--wrapper {
  #page_title {
    text-align: left;
    padding: 30px 0;
  }
}

#onboarding_button {
  color: white;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  width: 150px;
  text-align: center;
  text-decoration: none;
  float: right;
  line-height: 40px;
  margin: 20px 0;
  padding: 1px 7px 2px !important;
  cursor:pointer;
}

#edit_profile {
  color: black;
}

.stair_step {
  text-align: center;
  .progress, .progress p {
    color: #65B19D !important;
    border-top-color: #65B19D !important;
  }
  span {
    display: inline-flex;
    flex-direction: column;
    margin: 0 4px;
    color: #DCDCDC;
    font-size: 25px;
    width: 75px;
    p {
      margin: 0;
      font-size: 14px;
      color: #3B464F;
      font-weight: bold;
    }
  }
  .hr {
    pointer-events: none;
    display: inline-block;
    position: absolute;
    line-height: 28px;
    left:0;
    right:0;
    margin-left:20px;
    margin-right:20px;
    hr {
      vertical-align: middle;
      display: inline-flex;
      border-top-color: #DCDCDC;
      font-size: 24px;
      margin: 0 5px;
    }
  }
}

.onboarding_page_container {
  margin: 30px auto;
  max-width: 800px;
  #onboarding_page {
    padding: 30px;
    background-color: WhiteSmoke;
  }
}

.initial--training--wrapper {
  margin-top: 20px;
  .tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    margin: 2px 0 0 0;
    background-color: #f9f9f9;
    span {
      font-weight: 600;
      color: black;
    }
    p {
      margin: 10px;
      font-size: 15px;
    }
    img {
      width: 25px;
      margin-right: 5px;
      object-fit: contain;
    }
  }
  .drop--down {
    border: 1px solid #E5E5E5;
    border-top: none;
    p {
      margin: 0;
      padding: 10px;
      font-size: 15px;
    }
  }
}

@media (max-width: 600px) {
  .skinny_wrapper {
    width: 90%;
  }
}
