$gray:  #2a2a2a;

#apply_link {
  margin-bottom: 20px;
}

.contact {
  text-align: center;
}

.dropdown-menu {
  z-index: 100000000000;
}

.page, .contact {
  h3, h4, h5, h6 {
    font-family: "Playfair Display";
    line-height: 1.5;
    margin: 30px auto 0 auto;
    max-width: fit-content;
  }
}

.number {
  font-size: 1.7em;
  font-family: 'Playfair Display';
  white-space: nowrap;
  margin-right: 10px;
  color: #545454;
}

.title {
  font-family: "Playfair Display";
}

.welcome {
  img {
    opacity: 1;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
  }
  img:hover {
    opacity: 0.7;
  }
  .section--title, .paragraph
    a:hover {
    color: #333 !important;
  }
}

.ng-hide {
  display: none !important;
}

.col-1, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  .col-2 {
    margin-left: -2px;
    margin-right: -2px;
    display: flex;
    height: 220px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 5px;

    .older {
      margin-right: 2px;
      margin-left: 2px;
      width: 150px;
      height: 230px;
      overflow: hidden;
    }
      .image_thumbnail {
        width: 100%;
        height: 100px;
        object-fit: cover;
        z-index: 1;
        position: relative;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      .article_title {
        z-index: 5;
        position: relative;
        width: 100%;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        a {
          color: #191919;
          font-family: 'Univers-CnUlt', Arial, Sans-serif;
          letter-spacing: 0.05rem;
          line-height: 1;
          font-size: 0.9rem;
          text-decoration: none;
          font-weight: 600;
          font-style: italic;
        }
      }
  }
}

.newest {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;

  .image_thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  a {
    width: 100%;
  }
  .container {
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    .article_title {
      margin: 0;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 30px;
      a {
        color: #4ABEB6;
        text-decoration: none;
      }
    }
    .date {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.other--articles {
  margin-left: auto;
  margin-right: auto;

  .container {
    width: 80%;
  }

  .thumbnail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .container--image {
      width: 40%;
      .image_thumbnail {
        object-fit: cover;
        width: 100%;
      }
    }

    .thumbnail--container {
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      width: 60%;
    }
    .article_title {
      font-family: "Roboto Condensed";
      margin: 0;
      text-align: center;
      padding: 10px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      a {
        color: #4ABEB6;
        text-decoration: none;
        &:hover {
          opacity: .55;
        }
      }
    }
    p {
      text-align: center;
      margin: 0;
      font-style: italic;
      font-family: "Display Playfair";
    }
    hr {
      border-color: black;
    }

  }
}

// Search bar

.active-theme-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4ABEB6;
  box-shadow: 0 1px 0 0 #4ABEB6;
}

.active-theme .fa, .active-theme-2 .fa {
  color: #4ABEB6;
}

@media (max-width: 1270px) {
 .skinny {
   margin: 0px !important;
   #post_title_show {
     h1 {
       font-size: 45px;
     }
   }
   .content_wrapper {
     max-width: 100%;
     margin: 0 0 0 20px;
   }
 }
}

@media (max-width: 550px) {
  .image_max_100_prcnt {
    min-width: 100%;
  }
  .contain_articles {
    padding: 0 !important;
    img {
      width: 130px !important;
    }
    p {
      font-size: 18px !important;
      line-height: 19px !important;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 980px) {
  .other--articles {
    .container {
      width: 100%;
    }
  }
}

@media (min-width: 731px) {
  .right_side_wrapper {
    height: fit-content;
    margin: auto;
    margin-right: 0;
    .social_icons {
      padding-bottom: 0.7em;
    }
  }
  .right_side_flex {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    justify-content:flex-end;
    align-items: center;
    .social_icons {
      margin: 0.5em;
      margin-right: 0;
      margin-left: 10px;
      padding-bottom: 0 !important;
    }
    .date_wrapper {
      margin: 0;
    }
  }
}

@media (max-width: 730px) {
  .post_info_published {
    flex-direction: column !important;
    .left_side_flex {
      flex-direction: column;
    }
    .right_side_wrapper {
      .published {
        max-width: fit-content;
        position: absolute;
        right: 20px;
        bottom: 65px;
      }
    }
    .social_icons {
      margin: 10px 0;
      justify-content: space-between;
      a {
        flex: 1;
        margin-left: 0px;
        div {
          width: 100%;
        }
      }
    }
  }
  .button {
    height: 30px !important;
    padding: 0;
    width: 60px;
    font-size: 12px !important;
  }
  .parentflex {
    width: 100%;
    margin-top: -5px;
  }
  .newest {
    width: 100%;
  }
  .oldest {
    width: 100%;
  }
  .other--articles {
    width: 100%;
    .thumbnail {
      flex-direction: column;
      margin-bottom: 30px;
      .container--image {
        width: 100%;
        .image_thumbnail {
          height: 260px;
          width: 100%;
        }
      }
      .thumbnail--container {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        .article_title {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    .col-2 {
      .older {
        width: 200px;
        height: 300px;
        overflow: hidden;
      }
      .thumbnail {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;

        .article_title {
          height: 60px;
          overflow: hidden;
          white-space: nowrap;
          color: white;

          a {
            width: 50px;
          }
        }

        .date {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .banner_fundraiser {
    .container_fundraiser {
      justify-content: center;
      .background_stats {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .link {
    display: none;
  }
  .div {
    margin-top: 0px !important;
  }
  .category_image {
    margin-top: 0px !important;
  }
}

@media (max-width: 420px) {
  .post_info {
    flex-direction: column !important;
    .right_side_wrapper {
      .draft {
        position: relative !important;
        max-width: fit-content;
        height: fit-content !important;
        p {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .post_info {
    p, i {
      font-size: 14px !important;
    }
    .right_side_wrapper {
      position: relative;
      min-width: 150px;
      .published {
        bottom: 53px;
        right: 0;
      }
      .draft {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .social_icons {
      margin-top: 0px;
    }
    img {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .post_info .right_side_wrapper .published {
    position: relative !important;
    bottom: 0;
    right: 0;
    line-height: normal;
    p {
      margin-top: 0;
    }
  }
}

@media (max-width: 800px) {
  .flex--welcome {
    .ads_wrapper {
      margin: 0 -15px !important;
      * {
        margin: 0 !important;
      }
    }
  }
}

@media (min-width: 800px) {
  .big_block {
    margin-top: -20px !important;
    .ctgry_article {
      margin-top: 20px;
    }
  }
}

.trending_title {
  font-family: 'Playfair Display';
  font-size: 1.1em;
  a:hover {
    text-decoration: none;
  }
}

.removed {
  display: none !important;
}

.section--title {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #222;
  font-family: 'Playfair Display';
  font-size: 30px;
  width: 100%;
}

.meta {
  color: #555;
  font-size: 0.8em !important;
}

.flex--welcome {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  .flex-1 {
    flex-grow: 300;
    flex-shrink: 300;
  }
  .ctgry_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    .ctgry_article {
      width: 31%;
      img {
        width: 100%;
        height: auto;
      }
      h1 {
        margin: 0;
        margin-top: 10px;
        font-size: 22px;
        font-family: 'Lucitana';
        font-weight: 400;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  p {
    font-size: 12px;
    margin: 4px 0 5px 0;
    color: #545454
  }
  .ctgry_section {
    .ctgry_grid {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
    }
    .ctgry_grid_article {
      width: 31%;
      img {
        width: 100%;
      }
      h1 {
        margin: 0;
        margin-top: 10px;
        font-size: 22px;
        font-family: 'Lucitana';
        font-weight: 400;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  .ctgry_grid_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    .applies {
      width: 48%;
      img {
        width: 100%;
      }
    }
    .ctgry_grid {
      width: 48%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .ctgry_grid_article {
        width: 47.5%;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
        h1 {
          margin: 0;
          margin-top: 10px;
          font-size: 20px;
          font-family: 'Lucitana';
          font-weight: 400;
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }

  .most_read {
    margin-left: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 300px;
    h6 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h1 {
      margin-left: 0;
      margin-bottom: 10px;
      margin-top: -5px;
      border-bottom: none;
      padding: 0;
    }
    .ctgry_article {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5em;
      img {
        width: 150px;
        height: 100px;
        object-fit: cover;
      }
      p {
        font-size: 1em;
        margin: 0;
        margin-left: 10px;
        line-height: 18px;
        font-family: 'Roboto Condensed Bold', sans-serif;
        font-style: italic;
        a {
          color: #191919;
          text-decoration: none;
        }
      }
    }
  }
}

.category {
  a {
    color: #4ABEB6;
    margin-bottom: -20px;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
  }
  .pagination {
    text-align: center;
    margin-bottom: 1.2em;
    justify-content: center;
    a {
      font-size: inherit !important;
    }
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .featured {
    margin-top: 0px !important;
  }
}

@media (max-width: 900px) {
  .ctgry_section {
    .ctgry_article, .rcnt_article {
      h1 {
        font-size: 24px !important;
      }
    }
  }
  .flex--welcome {
    flex-direction: column;
    .most_read {
      margin: 0;
      width: 100%;
      margin: 10px 0;
      h1 {
        border-bottom: 3px solid #222;
        padding-bottom: 20px;
      }
      .ctgry_article {
        img {
          width: 200px;
          height: auto;
        }
        p {
          font-size: 20px;
          line-height: 25px;
          margin: 0px 10px;
          font-family: "Playfair Display";
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .wrapper_home {
    margin-top: 20px;
  }
  .section--title {
    margin: 0 0 20px 0;
  }
  #recent_title {
    margin: 0;
  }
  .ctgry_section {
    flex-direction: column !important;
    .ctgry_article {
      width: 100% !important;
      margin-bottom: 30px;
      h1 {
        font-size: 25px !important;
      }
    }
  }
  .ctgry_section {
    flex-direction: column !important;
    .ctgry_article {
      width: 100% !important;
    }
  }
  .flex--welcome .flex-1 {
    .ctgry_grid_wrapper {
      flex-direction: column !important;
      .applies {
        margin: 0 auto;
        width: 70%;
        margin-bottom: 20px;
      }
      }
      .ctgry_grid {
        width: 100% !important;
      }
    }
}

@media (max-width: 500px) {
  .applies {
    width: 100% !important;
  }
}
