<div class="page skinny_wrapper wrapper_padding">
  <br>
  <div class="flex_horizontal_justify_between">
    <h3>Edit Constant</h3>
    <h6><%= link_to("Go back to list", constants_path, class: "link_pink") %></h6>
  </div>
  <br>
  <%= render "/constants/form" %>
  <% if current_user.admin? %>
    <%= link_to "Delete", constant_path(@constant), style: "float: right;", class: "mt-4", method: :delete, data: { confirm: "Are you sure you want to delete this constant field? If you are not sure what you're doing, it could break something." } %>
  <% end %>
</div>
