<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="wrapper_home text-center text-md-left pb-3" style="margin-bottom: 0;">
    <!-- Grid row -->
      <!-- Content -->
    <div class="title-footer">
      <h1><%= link_to "The Teen Magazine", root_path %></h1>
      <!-- Social buttons -->
      <div class="social-media-footer">
        <%= render "layouts/partials/social_media" %>
      </div>
      <!-- Social buttons -->
    </div>
    <div class="row">
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">About</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/about-us">About us</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/search?utf8=✓&filter=all+articles">Search in All Articles</a>
          </li>
          <li>
            <a href="/search?utf8=✓&filter=writers">Search in Writers</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Quick Links</h6>
        <ul class="list-unstyled">
          <li><%= link_to "Log in", get_profile_path %></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/categories/student-life">Student Life</a></li>
          <li><a href="/categories/wellness">Wellness</a></li>
          <li><a href="/categories/beauty-style">Beauty & Style</a></li>
          <li><a href="/categories/culture">Culture</a></li>
          <li><a href="/categories/relationships">Relationships</a></li>
          <li><a href="/categories/lifestyle">Lifestyle</a></li>
          <li><a href="/categories/opinion">Opinion</a></li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Get in Touch</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/apply">Write for The Teen Magazine</a>
          </li>
          <li>
            <a href="/contact-us">Contact us</a>
          </li>
          <li>
            <a href="/subscribe">Subscribe to our Newsletter</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="py-3">
      <span><i>© <%= Time.now.year %> TheTeenMagazine.com</i></span>
    </div>
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
