<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="wrapper_home text-center text-md-left" style="margin-bottom: 0;">
    <!-- Grid row -->
      <!-- Content -->
    <div class="title-footer">
      <h1><%= link_to "The Teen Magazine", root_path %></h1>
      <!-- Social buttons -->
      <div class="social-media-footer">
        <a class="link" href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
        <a class="link" href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
        <a class="link" href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
        <a class="link" href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
      </div>
      <!-- Social buttons -->
    </div>
    <div class="row">
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">About</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/about-us">About us</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Join the team</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/apply">Write for The Teen Magazine</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Keep in Touch</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/contact-us">Contact us</a>
          </li>
          <li>
            <a href="/subscribe">Subscribe to our Newsletter</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="py-3">
      <span><i>© 2020 TheTeenMagazine.com</i></span>
    </div>
    <br>
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
