<header id="main_navigation" class="clearfix header-mobile">
  <div id="banner">
    <i class="fa fa-bars toggle-nav" onclick="toggleNav();"></i>
    <a id="name_wrapper" href="/">
      <picture>
        <source srcset="<%= image_url('teenmag.png') %>" media="(min-width: 800px)">
        <%= image_tag("teenmag_mobile.png", :data => {"loading" => "lazy"}, :id => "name") %>
      </picture>
    </a>
    <div class="social-media">
      <a class="link" href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
      <a class="link" href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
      <a class="link" href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
      <a class="link" href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
      <a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
  </div>
</header>
